@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* font-family */
.text-font {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
}

.text-title {
  font-weight: 800;
}

.text-description {
  font-weight: 700;
}
