:root {
  --text--color--primary: #FFF;
  --text--color--second: #17c2ec;
  --text--collor--third: rgba(255, 255, 255, 0.5);

  --box-shadow--color: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  --background--color--primary: rgba(196, 196, 196, 0.1);
}
