:root {
  --text--color--primary: #fff;
  --text--color--second: #17c2ec;
  --text--collor--third: rgba(255, 255, 255, 0.5);
  --text--collor--four: blue;

  --box-shadow--color: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  --background--color--primary: rgba(196, 196, 196, 0.1);
  --background--color--second: rgba(196, 196, 196, 0.1);
  --background--color--third: rgba(196, 196, 196, 0.2);
  --background--color--four: #17c2ec;
  --background--color--five: blue;
  --background--color--six:rgba(11, 21, 60, 0.15);

  --border--color--primary: 3px solid rgba(196, 196, 196, 0.15);
  --border--color--second: 3px solid rgba(255, 255, 255, 0.5);
  --border--color--third:3px solid #17C2EC;
}
