@font-face {
        font-family: 'ChunkFiveRegular';
        src: url('fonts/chunkfive.eot');
        src: url('fonts/chunkfive.eot?#iefix') 
         format('embedded-opentype'),
         url('fonts/chunkfive.woff') format('woff'),
         url('fonts/chunkfive.ttf') 
         format('truetype'),
         url('fonts/chunkfive.svg#ChunkFiveRegular') 
         format('svg');}
.credits {
         font-size: 40px;
         color:red;
         font-style: italic;
         text-decoration: underline;
         text-indent: 20px;}
h1{
         text-decoration: line-through;
        }
p.intro:first-letter {
         font-size: 200%;}
p.intro:first-line {
         font-weight: bold;}