h1 {
    color: greenyellow;
    background-color: brown;
    height: 40px;
    width: 400px;
}
div.box {
    height: 200px;
    width: 200px;
    background-color: palegreen;}
    p {
    color: black;
    height: 40%;
    width: 40%;
    background-color:white (60, 34, 178);}
td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 10px;
    margin: 0px;}
h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;}
    h2 {
    color: red;
    border-bottom: 1px solid red;}
    p {
    min-height: 10px;
    max-height: 30px;}
p.one {
    overflow: hidden;}
p.two {
    overflow: scroll;}
p.one {border-style: solid;
    border-color: green;}
p.two {border-style: dotted;}
p.three {border-style: dashed;}
p.four {border-style: double;
    border-color: mediumblue;}
p.five {border-style: groove;}
p.six {border-style: ridge;}
p.seven {border-style: inset;}
p.eight {border-style: outset;}
body {
    text-align: center;
}
li {
    display: inline; 
    margin-right: 10px;}
    li.coming-soon {
    display: none;}
p.one { 
    -moz-box-shadow: -5px -5px #777777; 
    -webkit-box-shadow: -5px -5px #777777; 
    box-shadow: -5px -5px #777777;} 
p.two {
    -moz-box-shadow: 5px 5px 5px #777777; 
    -webkit-box-shadow: 5px 5px 5px #777777; 
    box-shadow: 5px 5px 5px #777777;} 
p.three {
    -moz-box-shadow: 5px 5px 5px 5px #777777; 
    -webkit-box-shadow: 5px 5px 5px 5px #777777; 
    box-shadow: 5px 5px 5px 5px #777777;} 
p.four {
    -moz-box-shadow: 0 0 10px #777777; 
    -webkit-box-shadow: 0 0 10px #777777; 
    box-shadow: 0 0 10px #777777;} 
p.five {
    -moz-box-shadow: inset 0 0 10px #777777; 
    -webkit-box-shadow: inset 0 0 10px #777777; 
    box-shadow: inset 0 0 10px #777777;}
p.six {
    -moz-box-shadow: -10px -10px #777777;
    -webkit-box-shadow: 0 0 10px #777777; 
    box-shadow: 0 0 10px #777777;} 
p.one {
    border-radius: 80px 80px;
    -moz-border-radius-top-left: 80px 50px;
    -webkit-border-radius-top-left: 80px 50px;}
p.two {
        border-radius: 4em 4em 4em 4em / 4em 4em 4em 4em}
    
p.three {
    padding: 0px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;}
