.footer {
  background-image: url("/src/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-footer {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding-top: 120px;
}

.title-logo-footer {
  color: var(--text--color--primary);
  font-size: 18px;
}
.footer-nav-link {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--font--size--sm);
}
.link:hover {
  cursor: pointer;
  color: var(--text--color--primary);
}
.footer-icon {
  max-width: 80px;
  width: 100%;
  height: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .wrap-footer {
    padding-top: 280px;
    gap: 40px;
    padding-bottom: 50px;
  }
  .title-logo-footer {
    font-size: 26px;
  }
  .footer-nav-link {
    gap: 25px;
    flex-direction: row;
  }
  .link {
    font-size: var(--font--size--large);
  }
  .footer-icon {
    max-width: 140px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
    .wrap-footer {
      padding-top: 450px;
      gap: 162px;
      flex-direction: row;
      padding-bottom: 100px;
    }
    .title-logo-footer {
      font-size: 32px;
    }

    .link {
      font-size: var(--font--size--big);
    }
    .footer-icon {
      max-width: 220px;
      height: 50px;
    }
  }
