@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.header {
  position: relative;
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.wrap-content-header {
  display:flex;
  flex-wrap: wrap;
}

.header-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.logo-header {
  display: flex;
  flex-direction: column;
}

.line-header {
  max-width: 80px;
  width: 100%;
  height: 3px;
  margin-top: 8px;
}

.title-logo-header {
  font-size: 18px;
  margin-right: 40px;
  width: 100%;
  padding-top: 6px;
}

.toggle-input {
  display: none;
}

.header-nav {
  display: none;
  padding-top: 7px;
}

.toggle-input:checked ~ .header-nav {
  display: block;
}

/* .content-header {
  width: 100%;
} */

.header-nav > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.header-nav > a:hover {
  color: #FFF;
  cursor: pointer;
}

.toggle-icon {
  cursor: pointer;
}

.title-header {
  color: #17c2ec;
  font-size: 12px;
  font-weight: 700;
}

.heading-header {
  padding: 2.5px 0;
}

.heading-header > p {
  color: #17c2ec;
}

.description-header {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  height: 51px;
}

.button-header {
  width: 100%;
  max-width: 295px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
}

.get-vaccine {
  padding: 17px 25px;
  height: 50px;
}

.help-centre {
  padding: 16px 23px;
}

.image-header {
  position: relative;
  max-width: 306px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-avatar {
  position: absolute;
  left: 0;
  padding: 8px 5px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  max-width: 50px;
  height: 50px;
  width: 100%;
}

.image-doctor-avatar {
  height: 32.695px;
  width: 100%;
}

.corona-virus {
  position: absolute;
  right: 0;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 6.5px 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.image-corona-header {
  height: 36.522px;
  width: 100%;
}

.class-doctor {
  display: flex;
  position: absolute;
  bottom: -17px;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  padding: 15px;
  margin-left: -70px;
  max-width: 238px;
}

.specialist {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 18px;
  max-width: 81px;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.image-three-doctor {
  max-width: 108px;
  width: 100%;
  height: 39px;
  display: flex;
}

.name-list {
  color: #17c2ec;
}

.clock-image {
  padding-top: 43px;
  padding-bottom: 25px;
  display: flex;
  width: 100%;
  align-items: center;
}

.clock-wrap {
  padding: 5px;
  background: rgba(196, 196, 196, 0.1);
  max-width: 30px;
  width: 100%;
  height: 30px;
  margin-right: 10px;
}

.content-clock {
  /* max-width: 199px; */
  width: 100%;
  height: 17px;
  font-size: 14px;
  align-items: center;
}

.wrap-address-header {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.address-header {
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.1);
  justify-content: space-around;
  padding-left: 10px;
  box-shadow: -1px -10px rgba(196, 196, 196, 0.05);
}

.name-address {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 600;
  height: 17px;
}

.wrap-image-header {
  background: rgba(196, 196, 196, 0.1);
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.image-address-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.padding-address-header {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

.content-address-header {
  max-width: 147px;
  width: 100%;
  height: 34px;
  position: relative;
}

.submit-header {
  width: 150px;
  height: 50px;
  padding: 20px 25px;
}

.wrap-content-header {
  display: flex;
}

@media screen and (min-width: 768px) {
  .button-header {
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
  }

  .get-vaccine,
  .help-centre {
    max-width: 175px;
    width: 100%;
    height: 64px;
  }

  /* .header-wrapper {
    padding: 0 50px;
  } */

  .title-logo-header {
    width: 100%;
    height: 32px;
    font-size: 26px;

  }

  .title-header {
    font-size: 18px;
  }

  .heading-header {
    font-size: 36px;
    width: 100%;
    height: 132px;
  }

  .description-header {
    font-size: 20px;
    width: 100%;
    height: 48px;
  }

  .image-header {
    height: 617px;
    width: 100%;
    max-width: 622px;
  }

  .image-corona-vaccine-header {
    height: 571px;
    width: 100%;
  }

  .doctor-avatar,
  .corona-virus {
    max-width: 100px;
    height: 100px;
    width: 100%;
    padding: 17px 10px;
  }

  .image-doctor-avatar,
  .image-corona-header {
    width: 100%;
    height: 65.389px;
  }

  .class-doctor {
    max-width: 374px;
    width: 100%;
    height: 100px;
    bottom: -17px;
    box-shadow: 0 4px 4px #0000001a;
    margin-left: -244px;
    padding: 20px;
  }

  .image-three-doctor {
    max-width: 167px;
    width: 100%;
    height: 60px;
  }

  .specialist {
    max-width: 100%;
    max-width: 134px;
    height: 51px;

    flex-wrap: wrap;
    width: 100%;
    max-width: 134px;
    height: 51px;
    font-size: 24px;
  }

  .clock-wrap {
    max-width: 50px;
    height: 50px;
    padding: 10px;
  }

  .content-clock {
    font-size: 24px;
    max-width: 336px;
    width: 100%;
  }

  .address-image {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
  }

  .wrap-image-header {
    max-width:50px;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .address-header {
    padding: 37px 0 1px 12px;
    display: flex;
  }

  .padding-address-header {
    display: flex;
    align-items: center;
    width: calc(100% / 2);
    justify-content: space-around;
    margin-bottom: 45px;
  }

  .content-address-header {
    max-width: 247px;
    width: 100%;
    font-size: 20px;
  }

  .submit-header {
    max-width: 253px;
    width: 100%;
    padding: 20px 25px;
    height: 64px;
    font-size: 20px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1440px) {

  .header-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .title-logo-header {
    margin-right: 150px;
    font-size: 32px;
    height: 40px;
  }

  .toggle-icon {
    display: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header-nav > a:last-child {
    margin-left: 180px;
    padding: 20px 26px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
  }

  .header-nav > a:last-child:hover {
    color: #17c2ec;
  }


  .title-header {
    font-size: 24px;
  }

  .heading-header .heading-header > p {
    font-size: 48px;
    max-width: 552px;
    width: 100%;
    height: 177px;
  }

  .description-header {
    font-size: 20px;
    max-width: 505px;
    width: 100%;
    height: 58px;
  }

  .button-header {
    max-width: 420px;
    width: 100%;
    gap: 20px;
  }

  .image-address-header {
    display: flex;
    flex-wrap: nowrap;
  }

}
