@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

header {
  position: relative;
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
  line-height: normal;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.header-wrapper {
  padding: 0 35px;
}

.header-heading {
  max-width: 668px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.logo-header {
  display: flex;
  flex-direction: column;
}

.line-header {
  max-width: 79.681px;
  width: 100%;
  height: 2.39px;
  margin-top: 8px;
}

.title-logo-header {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  /* max-width: 200px; */
  width: 100%;
  padding-top: 6px;
}

/* .header-nav .dropdown-header {
  float: none;
} */

/* .dropdown-header {
  float: left;
  overflow: hidden;
}


.icon-dropdown-header {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.15);
  padding: 7px 8px;
}

/* .dropdown-header .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 14px;
  background-color: inherit;
  margin: 0;
} */

/* .dropdown-content-header {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
} */

.dropdown-content-header a {
  float: none;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 500;
  text-align: start;
}

.header-nav a:hover,
.dropdown-header:hover .dropbtn {
  border-radius: 8px;
}

.dropdown-content-header a:hover {
  background-color: #17C2EC;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
} */

.content-header {
  /* max-width: 305px; */
  width: 100%;
}

.title-header {
  color: #17c2ec;
  font-size: 12px;
  font-weight: 700;
}

.heading-header {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  padding: 2.5px 0;
}

.heading-header > p {
  color: #17c2ec;
  font-size: 24px;
  font-weight: 800;
}

.description-header {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 700;
  /* width: 271px; */
  height: 51px;
}

.button-header {
  width: 100%;
  max-width: 295px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
}

.get-vaccine {
  padding: 17px 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  height: 50px;
  background: #17c2ec;
  align-items: center;
}

.get-vaccine:hover {
  background-color: blue;
  border: none;
}

.help-centre {
  border-radius: 20px;
  border: 2px solid #17c2ec;
  background: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 23px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
}

.help-centre:hover {
  background: #17c2ec;
}

.image-header {
  position: relative;
  /* width: 306px; */
  height: 309px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-avatar {
  position: absolute;
  left: 0;
  padding: 8px 5px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
  max-width: 50px; 
  height: 50px;
  width: 100%;
}

.image-doctor-avatar {
  /* width: 40px; */
  height: 32.695px;
  width: 100%;
}

.corona-virus {
  position: absolute;
  right: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 6.5px 5px;
  width: 50px;
  height: 50px;
}

.image-corona-header {
  /* width: 40px; */
  height: 36.522px;
  width: 100%;
}

.class-doctor {
  display: flex;
  position: absolute;
  bottom: -17px;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* max-width: 238px; */
  width: 100%;
  height: 70px;
  padding: 15px;
  margin-left: -70px;
}

.specialist {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 18px;
  max-width: 81px;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.image-three-doctor {
  max-width: 108px;
  width: 100%;
  height: 38.802px;
  display: flex;
}

.name-list {
  color: #17c2ec;
}

.clock-image {
  padding-top: 43px;
  padding-bottom: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #FFF;
  align-items: center;
  max-width: 405.688px;
  width: 100%;
  /* height: 50px; */
  /* margin-top: 43px;
  margin-bottom: 25px; */
}

.clock-wrap {
  padding: 5px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.1);
  max-width: 30px;
  width: 100%;
  height: 30px;
}

.content-clock {
  max-width: 199px;
  width: 100%;
  height: 17px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
}

.wrap-address-header {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.address-header {
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.10);
  justify-content: space-around;
  padding-left: 10px;
}

.name-address {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 600;
  height: 17px;
}

.wrap-image-header {
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.1);
  padding: 5px;
  width: 30px;
  height: 30px;
  /* background-size: cover; */
  margin-right: 10px;
}

.image-address-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.padding-address-header {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

.content-address-header {
  max-width: 147px;
  width: 100%;
  height: 34px;
  position: relative;
}


.submit-header {
  display: flex;
  width: 150px;
  height: 50px;
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #17c2ec;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.submit-header:hover {
  background-color: aqua;
}


@media screen and (min-width: 768px) {
  /* header {
    position: relative;
    background-image: url("/src/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .button-header {
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
  }

  .get-vaccine,
  .help-centre {
    max-width: 175px;
    width: 100%;
    height: 64px;
  }

  .header-wrapper {
    padding: 0 50px;
  }

  .title-logo-header {
    width: 100%;
    height: 31.076px;
    font-size: 25.498px;
    font-weight: 700;
  }

  .title-header {
    font-size: 18px;
  }

  .heading-header {
    font-size: 36px;
    max-width: 414px;
    width: 100%;
    height: 132px;
  }

  .description-header {
    font-size: 20px;
    max-width: 502px;
    width: 100%;
    height: 48px;
  }

  .image-header {
    height: 617px;
    width: 100%;
    max-width: 622px;
  }

  .image-corona-vaccine-header {
    max-width: 532.127px;
    height: 571px;
    width: 100%;
  }

  .doctor-avatar,
  .corona-virus {
    max-width: 100px;
    height: 100px;
    width: 100%;
    padding: 17px 10px;
  }

  .image-doctor-avatar,
  .image-corona-header {
    width: 100%;
    height: 65.389px;

  }

  .class-doctor {
    max-width: 374px;
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    bottom: -17px;
    box-shadow: 0 4px 4px #0000001a, 0 4px 4px #00000040;
    margin-left: -244px;
    padding: 20px;
  }

  .image-three-doctor {
    max-width: 167px;
    width: 100%;
    height: 60px;

  }

  .specialist {
    max-width: 100%;
    max-width: 134px;
    height: 51px;

    flex-wrap: wrap;
    width: 100%;
    max-width: 134px;
    height: 51px;
    font-size: 24px;
    /* right: 18px; */
  }

  .clock-wrap {
    max-width: 50px;
    height: 50px;
    padding: 10px;
  }

  .content-clock {
    font-size: 24px;
    max-width: 336px;
    width: 100%;
  }

  .address-image {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
  }

  .wrap-image-header {
    max-width: 49.962px;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .address-header {
    padding: 37px 0 1px 12px;
    display: flex;
  }

  .padding-address-header {
    display: flex;
    align-items: center;
    width: calc(100%/2);
    justify-content: space-around;
    margin-bottom: 45px;
  }

  .content-address-header {
    max-width: 246.81px;
    width: 100%;
    font-size: 20px;
  }

  .submit-header {
    max-width: 253px;
    width: 100%;
    padding: 20px 25px;
    height: 64px;
    font-size: 20px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1440px) {
  .header-wrapper {
    padding: 0 70px;
  }

  .header-heading {
    max-width: 1299px;
    width: 100%;
  }

  .icon-dropdown-header {
    display: none;
  }


  .dropdown-content-header {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  .header-nav.responsive {
    position: relative;
  }

  .header-nav.responsive .icon-dropdown-header {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /* .header-nav.responsive .dropdown-header {
    float: none;
  } */

  .header-nav.responsive .dropdown-content-header {
    position: relative;
  }

  .header-nav.responsive .dropdown-header .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

}