.header {
  background-image: url("/src/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
}


.wrap-header {
  padding: 0 35px
}


.wrap-content-header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.content-header {
  gap: 15px;
}

.header-heading {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px 0;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 30px;
  margin: 0 auto;
  font-size: var(--font-size-big);
}

.button-check-status {
  display: none;
}

.line-header {
  max-width: 80px;
  width: 100%;
  height: 3px;
  margin-top: 8px;
}

.title-logo-header {
  font-size: 18px;
  margin-right: 10px;
  width: 100%;
  padding-top: 6px;
  color: var(--text-color-primary);
}

.border-medium {
  border-radius: 10px;
}

.border-large {
  border-radius: 20px;
}

.toggle-input {
  display: none;
}

.header-nav {
  z-index: 1;
  background: #0b153c;
  width: 100%;
  margin-top: 7px;
  display: none;
  position: absolute;
  top: 95px;
  align-items: end;
}

.toggle-input:checked~.header-nav {
  display: block;
  border-radius: 5px;
}

.nav-links {
  list-style: none;
  padding: 0;
  border-color: transparent;
}

.links {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 5px;
  display: block;
  text-decoration: none;
  color: var(--text-collor-abbey);
  font-weight: 700;
  font-size: var(--font-size-large);
  text-align: right;
  border-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.links:hover {
  color: var(--text-color-primary);
  cursor: pointer;
  font-weight: 700;
  border-bottom: var(--border-color-bright-turquoise);
}

.toggle-icon {
  cursor: pointer;
}

.title-content-header {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color-second);
}

.heading-content-header {
  color: var(--text-color-primary);
  font-size: var(--font-size-big);
  font-weight: 800;
}

.description-content-header {
  color: rgba(255, 255, 255, 0.7);
  font-size: var(--font-size-sm);
  height: 51px;
}

.wrap-button-header {
  width: 100%;
  max-width: 295px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.image-header {
  position: relative;
  max-width: 306px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-avatar {
  position: absolute;
  left: 0;
  padding: 8px 5px;
  background: var(--text-color-primary);
  box-shadow: var(--box-shadow--color--primary);
  max-width: 50px;
  height: 50px;
  width: 100%;
}

.image-doctor-avatar {
  height: 33px;
  width: 100%;
}

.corona-virus {
  position: absolute;
  right: 0;
  background: var(--text-color-primary);
  box-shadow: var(--box-shadow--color--primary);
  padding: 7px 5px;
  width: 50px;
  height: 50px;
}

.image-corona-header {
  height: 37px;
  width: 100%;
}

.class-doctor {
  display: flex;
  position: absolute;
  bottom: -17px;
  background: rgba(196, 196, 196, 0.2);
  box-shadow: var(--box--shadow-color);
  width: 100%;
  height: 70px;
  padding: 15px;
  margin-left: -70px;
  max-width: 238px;
}

.specialist {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 18px;
  max-width: 81px;
  width: 100%;
  height: 40px;
  font-size: var(--font-size-sm);
  color: var(--text-color-primary);
  font-weight: 700;
}


.name-specialists {
  color: var(--text-color-second);
}


.image-three-doctor {
  max-width: 108px;
  width: 100%;
  height: 39px;
  display: flex;
}

.name-list {
  color: var(--text-color-second);
  font-size: var(--font-size-sm);
}

.clock-image {
  padding-top: 43px;
  padding-bottom: 25px;
  display: flex;
  width: 100%;
  align-items: center;
}

.clock-wrap {
  padding: 5px;
  background: var(--background-color-primary);
  max-width: 30px;
  width: 100%;
  height: 30px;
  margin-right: 10px;
}

.content-clock {
  width: 100%;
  height: 17px;
  font-size: var(--font-size-sm);
  align-items: center;
  color: var(--text-color-primary);
  font-weight: 700;
}

.address-header {
  font-size: var(--font-size-sm);
  border-radius: 20px 20px 0px 0px;
  background: var(--background-color-primary);
  padding-left: 10px;
  padding-top: 20px;
  box-shadow: -1px -10px rgba(196, 196, 196, 0.05);
  color: var(--text-color-primary);
  cursor: pointer;
}

.name-address {
  color: var(--text-collor-abbey);
  font-size: var(--font-size-sm);
  font-weight: 600;
  height: 17px;
}

.wrap-image-header {
  background: var(--background-color-primary);
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.image-address-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap-address-header-text {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

.content-address-header {
  max-width: 147px;
  width: 100%;
  height: 34px;
  position: relative;
}

.image-corona-vaccine-header {
  height: 275px;
  width: 100%;
  max-width: 256px;
}

@media screen and (min-width: 768px) {

  .wrap-header {
    padding: 0 50px;
  }

  .wrap-content-header {
    margin-top: 50px;
  }

  .wrap-button-header {
    max-width: 420px;
    width: 100%;
    padding-top: 100px;
  }

  .title-logo-header {
    width: 100%;
    height: 32px;
    font-size: 26px;
  }

  .name-list {
    font-size: var(--font-size-big);
  }

  .title-content-header {
    font-size: var(--font-size-large);
  }

  .heading-content-header {
    width: 100%;
    font-size: 36px;
    max-width: 425px;
  }

  .content-header {
    max-width: 502px;
    gap: 35px;
  }

  .description-content-header {
    font-size: var(--font-size-large);
    width: 100%;
    height: 48px;
  }

  .image-header {
    width: 100%;
    max-width: 622px;
  }

  .image-corona-vaccine-header {
    height: 571px;
    width: 100%;
    max-width: 535px;
  }

  .doctor-avatar,
  .corona-virus {
    max-width: 100px;
    height: 100px;
    width: 100%;
    padding: 17px 10px;
  }

  .image-doctor-avatar,
  .image-corona-header {
    width: 100%;
    height: 66px;
  }

  .class-doctor {
    max-width: 374px;
    width: 100%;
    height: 100px;
    bottom: -17px;
    box-shadow: 0 4px 4px #0000001a;
    margin-left: -244px;
    padding: 20px;
  }

  .image-three-doctor {
    max-width: 167px;
    width: 100%;
    height: 60px;
  }

  .specialist {
    max-width: 134px;
    height: 51px;
    font-size: var(--font-size-big);
  }

  .clock-wrap {
    max-width: 50px;
    height: 50px;
    padding: 10px;
  }

  .content-clock {
    font-size: var(--font-size-big);
    max-width: 336px;
    width: 100%;
  }

  .address-image {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
  }

  .wrap-image-header {
    max-width: 50px;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .address-header {
    padding: 37px 0 1px 12px;
    display: flex;
  }

  .wrap-address-header-text {
    display: flex;
    align-items: center;
    width: calc(100% / 2);
    justify-content: space-around;
    margin-bottom: 45px;
  }

  .content-address-header {
    max-width: 247px;
    width: 100%;
    font-size: var(--font-size-large);
  }
}

@media screen and (min-width: 1440px) {

  .wrap-header {
    padding: 0 70px;
  }

  .button-check-status {
    display: block;
    border-radius: 20px;
    background: var(--background-color-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    max-width: 220px;
    width: 100%;
    font-size: var(--font-size-big);
    padding: 20px 26px;
  }

  .header-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrap-content-header {
    margin-top: 100px;
  }

  .title-logo-header {
    font-size: var(--font-size-vrbig);
    height: 40px;
  }

  .toggle-icon {
    display: none;
  }

  .header-nav {
    position: static;
    display: flex;
    width: 100%;
    align-items: center;
    transform: none;
    background-color: transparent;
    justify-content: space-around;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 0 50px;
    justify-content: space-between;
    max-width: 550px;
    align-items: center;
  }

  .title-content-header {
    font-size: var(--font-size-big);
  }

  .description-content-header {
    font-size: var(--font-size-large);
    max-width: 505px;
    width: 100%;
    height: 58px;
  }

  .image-address-header {
    display: flex;
    flex-wrap: nowrap;
  }

  .heading-content-header {
    font-size: 48px;
    max-width: 560px;
  }

  .content-header {
    max-width: 560px;
    gap: 40px;
  }


  .name-list {
    font-size: 48px;
  }
}
