.footer {
  background-image: url("/src/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 120px 35px 30px 35px;
}

.title-logo-footer {
  color: var(--text-color-primary);
  font-size: 18px;
}

.footer-nav-link {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--font-size-sm);
}

.link:hover {
  color: var(--text-color-primary);
  border-bottom: var(--border-color-bright-turquoise);
}

.size-logo {
  width: 18px;
  height: 18px;
}

.wrap-footer-logo {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 3px;
}

.link-logo {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .wrap-footer {
    gap: 40px;
    padding: 280px 50px 50px 50px;
  }

  .title-logo-footer {
    font-size: 26px;
  }

  .footer-nav-link {
    gap: 25px;
    flex-direction: row;
  }

  .link {
    font-size: var(--font-size-large);
  }

  .size-logo {
    width: 32px;
    height: 32px;
    margin-right: 6px;
  }

  .link-logo {
    width: 32px;
    height: 32px;
  }
  .wrap-footer-logo {
    gap: 6px;
  }
}

@media screen and (min-width: 1440px) {
  .wrap-footer {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 450px 80px 100px 78px;
  }

  .title-logo-footer {
    font-size: 32px;
  }

  .link {
    font-size: var(--font-size-big);
  }

  .size-logo {
    width: 50px;
    height: 50px;
  }

  .wrap-footer-logo {
    gap: 10px;
  }

  .link-logo {
    width: 50px;
    height: 50px;
  }
}
