@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.about-background {
  background-image: url(/src/assets/images/about/about-bg-img.png);
  width: 100%;
  background-color: #f84648;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--default-white, #fff);
  text-align: center;
  margin: 0 auto;
  padding: 68px 0 78px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.about-heading {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 48px;
  line-height: 64px;
}

.about-description {
  font-size: 18px;
  line-height: 32px;
}

.about-content {
  display: flex;
  gap: 49px;
  justify-content: center;
  margin: 0 auto;
}

.about-post-content {
  display: flex;
  flex-direction: row;
  gap: 49px;
  width: max-content;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
}

.about-post-content>p {
  text-align: start;
  line-height: 31px;
}

#about-content-post-first {
  width: 146px;
}

#about-content-post-second {
  width: 199px;
}

#about-content-post-third {
  width: 181px;
}

#about-content-post-four {
  width: 182px;
}

.about-icon {
  width: 32px;
  height: 32px;
  cursor: grab;
}
