@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.content-contact {
  /* padding-top: 5px; */
  padding-bottom: 158px;
  background: #fff;
  text-align: center;
}

.icon-contact {
  padding: 157px 1px 1px 0px;
}

.title-contact {
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  padding: 9px 1px 20px 0px;
}

.description-contact {
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 0px 1px 30px 0px;
}

.button-contact {
  color: #fff;
  padding: 26px 40px;
  border-radius: 8px;
  background: #f84646;
  border: none;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.button-contact:hover {
  border: none;
  background-color: #f66e6e;
}