@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.content-product{
  font-family: Manrope;
  font-style: normal;
}
.product-kalite {
  display: flex;
  width: 1197px;
  margin: 0 auto;
  padding: 161px 0 120px 0;
  justify-content: space-between;
}

.content-product-kalite {
  width: 608px;
}

.title-product-kalite {
  color: var(--text-title, #2e2e2e);
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  padding-bottom: 40px;
}

.description-product-kalite {
  color: var(--text-body, #808080);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 523px;
  height: 160px;
  margin-bottom: 80px;
}

.button-product-kalite {
  border-radius: 8px;
  background: #f84646;
  display: flex;
  padding: 17px 21px 16px 16px;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
  width: 160px;
  height: 48px;
}

.button-product-kalite:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product-kalite {
  width: 504px;
  flex-shrink: 0;
  border-radius: 8px;
}

.product-text {
  display: flex;
  width: 1197px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 160px;
}

.content-product-text {
  width: 548px;
  height: 480px;

}

.title-product-text {
  color: var(--text-title, #2e2e2e);
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  width: 548px;
  height: 152px;
  margin-bottom: 40px;
}

.description-product-text {
  color: var(--text-body, #808080);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 523px;
  height: 160px;
  margin-bottom: 80px;
}

.button-product-text {
  border-radius: 8px;
  background: #f84646;
  display: flex;
  width: 160px;
  padding: 16px 21px 16px 16px;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.button-product-text:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product-text {
  width: 504px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 8px;
}