@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.content-product {
  max-width: 1197px;
  width: 100%;
  margin: 0 auto;
  padding: 160px 0;
  gap: 120px;
  display: flex;
  flex-direction: column;
}

.product-kalite {
  display: flex;
  justify-content: space-between;
}

.title-product-kalite {
  color: var(--text-title, #2e2e2e);
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
}

.description-product {
  color: var(--text-body, #808080);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 523px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.button-product {
  display: flex;
  padding: 17px 21px 16px 16px;
  justify-content: center;
  border: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
  width: 160px;
  height: 48px;
}

.button-product:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product-kalite {
  width: 504px;
  flex-shrink: 0;
  border-radius: 8px;
}

.product-text {
  display: flex;
  justify-content: space-between;
}

.title-product-text {
  color: var(--text-title, #2e2e2e);
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  width: 548px;
}
