@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.content-sponsor {
  padding: 60px 0;
  background-color: var(--text-gray-100, #f4f5f7);
  width: 100%;
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.heading-sponsor {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.title-sponsor {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-size: 48px;
  line-height: 64px;
}

.description-sponsor {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.logo-sponsor {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.background-logo-sponsor {
  width: 170px;
  height: 96px;
  text-align: center;
  border-radius: 16px;
  background: var(--default-white, #fff);
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
}

.logo-borusan-sponsor {
  margin-top: 14px;
}

.logo-two-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-istanbul-sponsor {
  margin-top: 17px;
}

.logo-bookmyshow-sponsor {
  margin-top: 29px;
}

.logo-three-sponsor {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo-akbank-sponsor {
  margin-top: 14px;
}

.logo-akcansa-sponsor {
  margin-top: 14px;
}

.logo-tumunugor-sponsor {
  display: flex;
  width: 167px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #f84646;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 21px;
  margin-left: 1px;
  cursor: pointer;
}

.logo-tumunugor-sponsor:hover {
  color: blue;
}

.logo-four-sponsor {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo-aktas-sponsor {
  margin-top: 18px;
}

.logo-ola-sponsor {
  margin-top: 30px;
}

.logo-amazon-sponsor {
  margin-top: 31px;
}
