@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.content-sponsor {
  padding: 60px 0;
  background-color: var(--text-gray-100, #f4f5f7);
  width: 100%;
}

.title-sponsor {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
}

.description-sponsor {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 49px;
  margin-top: 3px;
}

.logo-sponsor {
  display: flex;
  width: 946px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.background-logo-sponsor {
  background: url(/src/assets/images/sponsor/bg-logo-sp.png);
  width: 170px;
  height: 96px;
  text-align: center;
  border-radius: 16px;
  background: var(--default-white, #FFF);
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.20);

}

.logo-borusan-sponsor {
  width: 134px;
  height: 67px;
  margin-top: 14px;
  background-position: center;

}

.logo-two-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-istanbul-sponsor {
  width: 122px;
  height: 61px;
  margin-top: 17px;
}

.logo-bookmyshow-sponsor {
  width: 123px;
  height: 37px;
  flex-shrink: 0;
  margin-top: 29px;
}

.logo-three-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-akbank-sponsor {
  width: 132px;
  height: 66px;
  flex-shrink: 0;
  margin-top: 14px;
}

.logo-akcansa-sponsor {
  margin-top: 14px;
  width: 132px;
  height: 66px;
  flex-shrink: 0;

}

.logo-tumunugor-sponsor {
  display: flex;
  width: 167px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #F84646;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 21px;
  margin-left: 1px;
  cursor: pointer;
}
.logo-tumunugor-sponsor:hover{
  color: blue;
}

.click-logo-tumunugor-sponsor {
  gap: 10px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.logo-four-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-aktas-sponsor {
  width: 118px;
  height: 59px;
  flex-shrink: 0;
  margin-top: 18px;
}

.logo-ola-sponsor {
  width: 98px;
  height: 34px;
  flex-shrink: 0;
  margin-top: 30px;
}

.logo-amazon-sponsor {
  width: 103px;
  height: 32px;
  margin-top: 31px;
}