@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Header */
header {
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.content-header {
    position: absolute;
    top: 230px;
    left: 160px;

}

.content-title {
    margin-top: 43px;
    margin-bottom: 0;
    width: 665px;
    color: #000;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 82px;
}

.content-desc {
    width: 650px;
    height: 99px;
    flex-shrink: 0;
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 180% */
    letter-spacing: 0.2px;
    top: 384px;
    margin-top: 20px;
    left: 114px;
}

.img-header {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
}

.nav-header {
    position: absolute;
    top: 22px;
    right: 200px;
    display: flex;
    gap: 38px;
    padding-top: 45px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
}

.link:hover {
    color: #fff;
    padding: 10px;
    background-color: #f84646;
}

.button-header {
    margin: 6px 6px 6px 0px;
    border-radius: 8px;
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2px;
    width: 143px;
    height: 61px;
    flex-shrink: 0;
    background-color: #f84646;
    border: none;
}

.button-header:hover {
    background-color: #f66e6e;
    border: none;
    color: #fff;
}

.content-input {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    width: 500px;
    margin-top: 50px;
    background-color: #fff;
}

.input-header {
    color: rgba(0, 0, 0, 0.4);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    border: none;
    flex-shrink: 0;
    border-radius: 8px;
    /* background: #FFF;  */
    padding: 19px 134px 18px 32px;
    inline-size: none;
}

.input-header:hover {
    border: none;
    inline-size: none;
}


/* Category */

.category{
    width: 100vw;
}

.category-heading {
    display: flex;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    padding: 100px 0px 30px 720px;
}

.category-dcrs {
    display: flex;
    padding: 0px 200px 80px 400px;
    width: 1700px;
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.5px;
    /* 164.583% */
    letter-spacing: 0.2px;
}

.category-post {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 90px;
    padding: 0px 100px 70px 390px;
    width: 1700px;
}

.category-post-content
{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 0.2px;
    width: 298px;
    height: 84px;
    flex-shrink: 0;
}

.category-post-heading {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.category-post1-icon-1 {
    text-align: right;
    margin-bottom: -45px;
    padding-right: 112px;
}

.category-post2-icon-2 {
    margin-bottom: -55px;
    padding-left: 105px;
}

.category-post3-icon-3 {
    text-align: right;
    margin-bottom: -53px;
    padding-right: 100px;
}

.category-post4-icon-4 {
    margin-bottom: -50px;
    padding-left: 112px;

}

.category-post5-icon-5 {
    text-align: right;
    margin-bottom: -45px;
    padding-right: 103px;
}

.category-post6-icon-6 {
    text-align: right;
    margin-bottom: -45px;
    padding-right: 117px;
}

.category-post-icon
 {
    text-align: center;
}


/* About */

.about-background {
    width: 100vw;
    height: 300px;
    background: url(/src/assets/images/about/about-bg-img/bg-img.png) no-repeat center fixed, #f84648;
    background-size: cover;
    display: flex;
}

.about {
    position: relative;
}

.about-title {
    margin-top: 40px;
    margin-left: 550px;
    width: 836px;
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    column-gap: 20px;
    row-gap: 20px;
}

.about-dcrs {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    align-self: stretch;
    margin-left: 600px;
}

.about-content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    padding: 170px 100px 30px 450px;
    column-gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.about-post {
    width: 200px;
}

.about-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    text-align: center;
}

/* Product */

.content-product {
    width: 100vw;
    height: 950px;

}

.product1 {
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
    padding-left: 200px;
}

.content-product1 {
    padding: 3px 150px 10px 150px;
}

.title-product1 {
    color: var(--text-title, #2E2E2E);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    width: 608px;
    margin-bottom: 10px;
}

.dcrs-product1 {
    color: var(--text-body, #808080);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 527px;
    margin-bottom: 26px;
}

.button-product1 {
    border-radius: 8px;
    background: #F84646;
    display: flex;
    width: 160px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #FFF;
}

.button-product1:hover {
    background-color: #f66e6e;
    border: none;
    color: #fff;
}

.img-product1 {
    padding: 3px 3px 3px 3px;
    width: 504px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 8px;
}

.product2 {
    display: flex;
    padding-left: 200px;
}

.content-product2 {
    padding: 0px 150px 10px 150px;
}

.title-product2 {
    color: var(--text-title, #2E2E2E);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    width: 608px;
    margin-bottom: 10px;
}

.dcrs-product2 {
    color: var(--text-body, #808080);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 527px;
    margin-bottom: 32px;
}

.button-product2 {
    border-radius: 8px;
    background: #F84646;
    display: flex;
    width: 160px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: none;
}

.button-product2:hover {
    background-color: #f66e6e;
    border: none;
    color: #fff;
}

.img-product2 {
    padding: 3px 3px 3px 3px;
    width: 504px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-left: 140px;
    margin-right: 75px;
}


/* Sponner */
.content-sponner {
    display: inline-flex;
    padding: 0px 420px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    background-color: var(--text-gray-100, #F4F5F7);
    width: 100vw;
}

.heading-sponner {
    padding: 10px 10px 10px 350px;
}

.title-sponner {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.dcrs-sponner {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.logo-sponner {
    display: flex;
    align-items: center;
}

/* Contact */

.content-contact {
    width: 100vw;
    height: 700px;
    background: #FFF;
}

.icon1-contact {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-left: 890px;
    margin-top: 200px;
}

.title-contact {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    padding: 10px 1px 30px 1px;

}

.dcrs-contact {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

}

.button-contact {
    color: #FFF;
    display: inline-flex;
    padding: 25px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F84646;
    margin-left: 850px;
    margin-top: 35px;
    border: none;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.button-contact:hover {
    border: none;
    background-color: #f66e6e;
}

/* Footer */

footer {
    width: 100vw;
    height: 536px;
    flex-shrink: 0;
    background: #F8464A;
}

.content-footer {
    width: 1450px;
    height: 450px;
    display: flex;
    font-family: Inter;
    font-style: normal;
    line-height: 32px;
    font-size: 16x;
    justify-content: space-between;
    color: var(--text-disable, #d3d3d3);
    font-weight: 400;
    line-height: 32px;
    padding-top: 50px;
    padding-left: 140px;
}

.column-footer{
    list-style: none;
}

li {
    padding: 0px 0px 30px 0px;
}

.address-footer {
    width: 600px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    padding-left: 175px;
    margin-top: 10px;
    color: var(--text-white, #FFF);
}

.logo-footer {
    margin-top: -50px;
    padding-left: 1450px;
}

.link-logo-footer
 {
    margin: 16px;
}
