@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* HEADER */
header {
  position: relative;
  background-image: url("/src/assets/images/header/header.background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.content-header {
  padding-bottom: 147px;
  padding-left: 122px;
  padding-top: 108px;
}

.content-title {
  width: 665px;
  color: #000;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 82px;
  margin-top: 29px;
}

.content-description {
  width: 650px;
  height: 99px;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.2px;
  margin-top: 19px;
}

.nav-header {
  padding-top: 44px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: Manrope;
  font-style: normal;
  font-size: 14px;
  justify-content: center;
  font-weight: 900;
  padding: 1px 0px 0px 469px;
}

.links {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}

.links:hover {
  color: #fff;
  padding: 10px;
  background-color: #f84646;
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: #000;
  /* padding: 10px; */
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 13px;
  padding: 10px 20px
}

.link:hover {
  color: #fff;
  padding: 10px;
  background-color: #f84646;
  font-weight: 700;
}

.button-header {
  margin: 7px 8px 6px 0px;
  border-radius: 8px;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.2px;
  width: 150px;
  height: 61px;
  font-style: normal;
  background-color: #f84646;
  border: none;
  cursor: pointer;
}

.button-header:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.content-input {
  display: flex;
  border: none;
  border-radius: 8px;
  width: 503px;
  margin-top: 50px;
  background-color: #fff;
}

.input-header {
  color: rgba(0, 0, 0, 0.4);
  font-family: Manrope;
  font-size: 16px;
  line-height: 37px;
  font-style: normal;
  border: none;
  border-radius: 8px;
  padding: 19px 144px 18px 32px;
}

.input-header:hover {
  border: none;
}

/* CATEGORY */

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-heading {
  color: #000;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  padding: 120px 0px 37px 515px;
}

.category-description {
  display: flex;
  align-items: center;
  padding: 1px 206px 2px 223px;
  width: 1440px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.5px;
  letter-spacing: 0.2px;
}

.category-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 89px;
  padding-top: 39px;
  width: 1153px;
  height: 726px;
}

.category-post-heading-icon-file {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 8px 5px 8px 18px;
}

.category-post-icon-pink {
  text-align: right;
  margin-bottom: -44px;
  padding-right: 103px;
}

.category-post-icon-file {
  padding: 0px 10px 0px 119px;
}

.category-post-content-file {
  padding: 0px 0px 1px 10px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 298px;
  height: 84px;
  flex-shrink: 0;
  line-height: 28px;
  margin-left: 3px;
}

.category-post-heading-icon-star {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 9px 0px 9px 5px;
}

.category-post-icon-violet {
  margin-bottom: -52px;
  padding-left: 117px;
  margin-top: 7px;
}

.category-post-icon-star {
  padding: 0px 10px 0px 122px;
}

.category-post-content-star {
  padding: 0px 10px 1px 14px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 316px;
  height: 84px;
  flex-shrink: 0;
  line-height: 28px;
}


.category-post-heading-icon-crown {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 9px 5px 8px 4px;
}

.category-post-icon-crown {
  padding: 0px 10px 0px 110px;
}

.category-post-icon-blue {
  text-align: right;
  margin-bottom: -50px;
  padding-right: 98px;
  margin-top: 7px;
}

.category-post-content-crown {
  padding: 0px 4px 1px 2px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 298px;
  flex-shrink: 0;
  line-height: 28px;
}


.category-post-heading-icon-chartbar {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 3px 5px 8px 16px;
}

.category-post-icon-chartbar {
  padding: 2px 10px 0px 117px;
}

.category-post-icon-light-blue {
  margin-bottom: -55px;
  padding-left: 117px;
  margin-top: 14px;
}

.category-post-content-chartbar {
  padding: 0px 00px 1px 10px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 298px;
  height: 88px;
  flex-shrink: 0;
  line-height: 28px;
}


.category-post-heading-icon-chartpieslice {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0px 5px 7px 8px;
}

.category-post-icon-chartpieslice {
  padding: 6px 10px 1px 121px;
}

.category-post-icon-red {
  text-align: right;
  margin-bottom: -45px;
  padding-right: 111px;
}

.category-post-content-chartpieslice {
  padding: 0px 10px 1px 14px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 316px;
  height: 102px;
  flex-shrink: 0;
  line-height: 28px;
}

.category-post-heading-icon-figmalogo {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0px 5px 10px 0px;
}

.category-post-icon-figmalogo {
  padding: 14px 10px 10px 113px;
}

.category-post-icon-yellow {
  text-align: right;
  margin-bottom: -45px;
  padding-right: 122px;
}

.category-post-content-figmalogo {
  padding: 0px 5px 1px 2px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 298px;
  height: 91px;
  flex-shrink: 0;
  line-height: 28px;
}


/* ABOUT */

.about-background {
  background-image: url(/src/assets/images/about/about-bg-img/bg-img.png);
  width: 100vw;
  background-color: #f84648;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-heading {
  width: 836px;
  margin: 0 auto;
}

.about-title {
  color: var(--default-white, #fff);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  padding-top: 67px;
}

.about-description {
  color: var(--default-white, #fff);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 8px;
}

.about-content {
  display: flex;
  /* flex-wrap: wrap; */
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  color: #fff;
  width: 1088px;
  margin: 0 auto;
  padding: 76px 0;
  margin-top: -10px;
}

.about-content-post-1 {
  width: 146px;
  height: 62px;
  margin-right: 46px;
}

.about-content-post-2 {
  width: 199px;
  height: 62px;
  margin-left: 49px;
  margin-right: 46px;
}

.about-content-post-3 {
  width: 181px;
  height: 62px;
  margin-left: 49px;
  margin-right: 45px;
}

.about-content-post-4 {
  width: 182px;
  height: 62;
  margin-left: 49px;
}

.about-icon {
  width: 32px;
  height: 32px;
  margin-top: 15px;
  cursor: pointer;
}

/* PRODUCT */

.product-kalite {
  display: flex;
  width: 1197px;
  margin: 0 auto;
  padding: 161px 0 120px 0;
  justify-content: space-between;
}

.content-product-kalite {
  width: 608px;
}

.title-product-kalite {
  color: var(--text-title, #2e2e2e);
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  padding-bottom: 40px;
}

.description-product-kalite {
  color: var(--text-body, #808080);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 523px;
  height: 160px;
  margin-bottom: 80px;
}

.button-product-kalite {
  border-radius: 8px;
  background: #f84646;
  display: flex;
  padding: 17px 21px 16px 16px;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
  width: 160px;
  height: 48px;
}

.button-product-kalite:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product-kalite {
  width: 504px;
  flex-shrink: 0;
  border-radius: 8px;
}

.product-text {
  display: flex;
  width: 1197px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 160px;
}

.content-product-text {
  width: 548px;
  height: 480px;

}

.title-product-text {
  color: var(--text-title, #2e2e2e);
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  width: 548px;
  height: 152px;
  margin-bottom: 40px;
}

.description-product-text {
  color: var(--text-body, #808080);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 523px;
  height: 160px;
  margin-bottom: 80px;
}

.button-product-text {
  border-radius: 8px;
  background: #f84646;
  display: flex;
  width: 160px;
  padding: 16px 21px 16px 16px;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.button-product-text:hover {
  background-color: #f66e6e;
  border: none;
  color: #fff;
}

.img-product-text {
  width: 504px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 8px;
}

/* SPONSOR */

.content-sponsor {
  padding: 60px 0;
  background-color: var(--text-gray-100, #f4f5f7);
  width: 100%;
}

.title-sponsor {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;

}

.description-sponsor {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 49px;
  margin-top: 3px;
}

.logo-sponsor {
  display: flex;
  width: 946px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.background-logo-sponsor {
  background: url(/src/assets/images/sponsor/bg-logo-sp.png);
  width: 170px;
  height: 96px;
  text-align: center;
  border-radius: 16px;
  background: var(--default-white, #FFF);
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.20);

}

.logo-borusan-sponsor {
  width: 134px;
  height: 67px;
  margin-top: 14px;
  background-position: center;

}

.logo-two-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-istanbul-sponsor {
  width: 122px;
  height: 61px;
  margin-top: 17px;
}

.logo-bookmyshow-sponsor {
  width: 123px;
  height: 37px;
  flex-shrink: 0;
  margin-top: 29px;
}

.logo-three-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-akbank-sponsor {
  width: 132px;
  height: 66px;
  flex-shrink: 0;
  margin-top: 14px;
}

.logo-akcansa-sponsor {
  margin-top: 14px;
  width: 132px;
  height: 66px;
  flex-shrink: 0;

}

.logo-tumunugor-sponsor {
  display: flex;
  width: 167px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #F84646;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 21px;
  margin-left: 1px;
  cursor: pointer;
}

.click-logo-tumunugor-sponsor {
  gap: 10px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.logo-four-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-aktas-sponsor {
  width: 118px;
  height: 59px;
  flex-shrink: 0;
  margin-top: 18px;
}

.logo-ola-sponsor {
  width: 98px;
  height: 34px;
  flex-shrink: 0;
  margin-top: 30px;
}

.logo-amazon-sponsor {
  width: 103px;
  height: 32px;
  margin-top: 31px;
}

/* CONTACT */

.content-contact {
  /* padding-top: 5px; */
  padding-bottom: 158px;
  background: #fff;
  text-align: center;
}

.icon-contact {
  padding: 157px 1px 1px 0px;
}

.title-contact {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  padding: 9px 1px 20px 0px;
}

.description-contact {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 0px 1px 30px 0px;
}

.button-contact {
  color: #fff;
  padding: 26px 40px;
  border-radius: 8px;
  background: #f84646;
  border: none;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.button-contact:hover {
  border: none;
  background-color: #f66e6e;
}

/* FOOTER */

footer {
  background: #f8464a;
  width: 100%;
  background-size: cover;
  padding: 80px 104px 70px;
}

.content-footer {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.heading-footer {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
  padding-bottom: 24px;
}

.column-footer {
  margin-right: 100px;
  padding: 0;
}

.link-footer {
  color: var(--text-white, #fff2f2);
  text-decoration: none;
}

.text-footer {
  list-style: none;
  padding-bottom: 24px;
}

.address-footer {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--text-white, #fff);
}

.logo-footer {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 26px;
  justify-content: space-between;
  margin-right: -9px;
}

.link-logo {
  padding: 0 6px;
  cursor: pointer;
}