/* common */
.button {
  border-radius: 10px;
  background: var(--background-color-bright-turquoise);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--text-color-primary);
  border: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.button:hover {
  background-color: var(--background-color-blue);
  border: none;
  cursor: pointer;
}

/* header  */
.button-primary {
  padding: 17px 25px;
  height: 52px;
  background-color: var(--background-color-second);
  border-radius: 20px;
  border: var(--border-color-third);
}

.button-primary:hover {
  background-color: var(--background-color-four);
  border: var(--border-color-third);
}

.button-second {
  max-width: 150px;
  padding: 20px 25px;
  width: 100%;
}

/* profile */
.button-third {
  padding: 20px 25px;
  width: 100%;
  max-width: 150px;
  background-color: var(--background-color-second);
  border: var(--border-color-second);
  font-size: var(--font-size-sm);
  color: var(--text-color-second);
  border-radius: 10px;
  font-weight: 500;
}

.button-third:hover {
  color: var( --text-collor-blue);
  border: var(--border-color-bright-turquoise);
  cursor: pointer;
}

/* verify */
.button-four {
  padding: 16px 29px;
  background-color: var(--background-color-second);
}

.button-four:hover {
  background-color: var(--background-color-four);
}

.button-five {
  padding: 20px 0;
  max-width: 150px;
  width: 100%;
}

.button-six {
  padding: 20px 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* header */
  .button-primary {
    max-width: 175px;
    width: 100%;
    height: 70px;
    border-radius: 20px;
  }

  .button-second {
    max-width: 253px;
    width: 100%;
    padding: 20px 25px;
    height: 64px;
    font-size: var(--font-size-large);
    margin-left: -60px;
  }

  /* profile */
  .button-third {
    max-width: 175px;
    font-size: var(--font-size-large);
  }

  /* verify */
  .button-four {
    font-size: var(--font-size-large);
  }

  .button-five {
    max-width: 200px;
  }
}

@media screen and (min-width: 1440px) {
  /* header */
  .button-second {
    max-width: 200px;
    width: 100%;
    height: 75px;
    font-size: var(--font-size-big);
  }

  /* verify */
  .button-five {
    max-width: 250px;
  }
  .button-third {
    font-size: var(--font-size-big);
  }
}
