@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

header {
  position: relative;
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
  line-height: normal;
  font-family: Montserrat;
  padding-left: 35px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.header-heading {
  max-width: 675px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
  /* margin: 0 auto; */
}

.logo-header {
  display: flex;
  flex-direction: column;
}

.line-header {
  max-width: 79.681px;
  width: 100%;
  height: 2.39px;
  margin-top: 8px;
}

.title-logo-header {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  max-width: 200px;
  width: 100%;
  padding-top: 6px;
}

@media screen and (max-width: 376px) {
  .header-nav .responsive .dropdown-header {
    float: none;
  }

  .dropdown-header {
    float: left;
    overflow: hidden;
  }
}

.icon-dropdown-header {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.15);
  padding: 7px 8px;
}

.dropdown-header .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 14px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content-header {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  /* max-width: 20px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-header a {
  float: none;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: rgba(255, 255, 255, 0.50);
  font-size: 12px;
  font-weight: 500;
  text-align: start;
}

.header-nav a:hover,
.dropdown-header:hover .dropbtn {
  border-radius: 8px;
}

.dropdown-content-header a:hover {
  background-color: #17C2EC;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-header:hover .dropdown-content-header {
  display: block;
}


@media screen and (min-width: 768px) {

  /* .header-nav a:not(:first-child),
  .dropdown-header .dropbtn {
    display: none;
  }

  .header-nav a.icon {
    float: right;
    display: block;
  }
} */
  .header-nav .responsive .dropdown-header {
    float: none;
  }

  .dropdown-header {
    float: left;
    overflow: hidden;
  }
}

.content-header {
  max-width: 305px;
  width: 100%;
}

.title-header {
  color: #17C2EC;
  font-size: 12px;
  font-weight: 700;
}

.heading-header {
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  padding: 2.5px 0;
}

.heading-header>p {
  color: #17C2EC;
  font-size: 24px;
  font-weight: 800;
}

.description-header {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-weight: 700;
  width: 271px;
  height: 51px;
}

.button-header {
  width: 100%;
  max-width: 295px;
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 35px;
}

.get-vaccine {
  padding: 17px 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border: none;
  height: 50px;
  background: #17C2EC;
  align-items: center;
}

.get-vaccine:hover {
  background-color: blue;
  border: none;
}

.help-centre {
  border-radius: 20px;
  border: 2px solid #17C2EC;
  background: rgba(196, 196, 196, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 23px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
}

.help-centre:hover {
  background: #17C2EC;
}

.image-header {
  position: relative;
  width: 306px;
  height: 309px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-avatar {
  position: absolute;
  left: 0;
  padding: 8px 5px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.image-doctor-avatar {
  width: 40px;
  height: 32.695px;
  flex-shrink: 0;
}

.corona-virus {
  position: absolute;
  right: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
  padding: 6.5px 5px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.image-corona {
  width: 40px;
  height: 36.522px;
  flex-shrink: 0;
}

.class-doctor {
  display: flex;
  position: absolute;
  bottom: -17px;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 238px;
  width: 100%;
  height: 70px;
  padding: 15px;
  margin-left: -70px;
}

.specialist {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 18px;
  max-width: 81px;
  width: 100%;
  height: 40px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
}

.image-three-doctor {
  max-width: 108px;
  width: 100%;
  height: 38.802px;
  flex-shrink: 0;
  display: flex;
}

.name-list {
  color: #17C2EC;
}

.clock-image {
  padding-top: 59px;
  padding-bottom: 20px;
  display: flex;
  max-width: 239px;
  width: 100%;
  justify-content: space-between;
  color: #FFF;
  align-items: center;
}

.clock-wrap {
  padding: 5px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.10);
  max-width: 30px;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
}

.content-clock {
  max-width: 199px;
  width: 100%;
  height: 17px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
}

.wrap-address-header {
  max-width: 305px;
  width: 100%;
  height: 242px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.05);
  padding: 11px 1px 0px 1px;
}

.address-header {
  max-width: 305px;
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.10);
  justify-content: space-around;
  padding-left: 10px;
}

.name-address {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 600;
  height: 17px;
}

.wrap-image-header {
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.10);
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.image-address-header {
  max-width: 203.276px;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 10px;
}

.padding-address-header {
  width: 187.031px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.content-address-header {
  max-width: 147px;
  width: 100%;
  height: 34px;
}

.submit-header {
  display: flex;
  width: 150px;
  height: 50px;
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #17C2EC;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.submit-header:hover {
  background-color: aqua;
}
