<section class="about text-font">
  <div class="container wrap-about">
    <div class="logo-about flex-space-between">
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-moderna_logo.jpg" alt="logo-moderna"></figure>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-pfizer-logo.jpg" alt="logopr-pfizer"></figure>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-zeneca-logo.jpg" alt="logo-zeneca"></figure>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-sinovac-logo.jpg" alt="logo-sinovac"></figure>
    </div>
  </div>
</section>
