<section class="about container wrap-about flex-space-between">
    <figure><img class="wrap-about-logo" src="/src/assets/images/about-moderna-logo.webp" alt="logo-moderna"></figure>
    <figure><img class="wrap-about-logo" src="/src/assets/images/about-pfizer-logo.webp" alt="logopr-pfizer"></figure>
    <figure><img class="wrap-about-logo" src="/src/assets/images/about-zeneca-logo.webp" alt="logo-zeneca"></figure>
    <figure><img class="wrap-about-logo" src="/src/assets/images/about-sinovac-logo.webp" alt="logo-sinovac"></figure>
</section>
