<section class="about">
  <div class="container wrap-about">
    <div class="logo-about">
      <article>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-moderna_logo.jpg" alt="logo-moderna"></figure>
      </article>
      <article>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-pfizer-logo.jpg" alt="logopr-pfizer"></figure>
      </article>
      <article>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-zeneca-logo.jpg" alt="logo-zeneca"></figure>
      </article>
      <article>
        <figure><img class="wrap-about-logo" src="/src/assets/images/about-sinovac-logo.jpg" alt="logo-sinovac"></figure>
      </article>
    </div>
  </div>
</section>
