<footer class="footer text-font">
<article class="container wrap-footer">
    <div class="logo-footer">
        <h2 class="text-description title-logo-footer">Vaccination.ng</h2>
        <img class="line-header" src="/src/assets/images/line-vaccination.ng.webp" alt="line" />
    </div>
    <nav class="footer-nav">
        <ul class="footer-nav-link">
          <li><a class="link" href="https://www.youtube.com/">Home</a></li>
          <li><a class="link" href="https://www.youtube.com/">Services</a></li>
          <li><a class="link" href="https://www.youtube.com/">Schedule</a></li>
          <li><a class="link" href="https://www.youtube.com/">Contact us</a></li>
        </ul>
    </nav>
    <figure class="wrap-footer-icon">
        <img class="footer-icon" src="/src/assets/images/footer-icon.webp" alt="icon">
    </figure>
</article>
</footer>
