<header>
  <article>
    <figure class="logo-header">
      <figcaption class="title-logo-header">Vaccination.ng</figcaption>
      <img src="/src/assets/images/header-line-vaccination.ng.png" alt="line">
    </figure>
    <img src="/src/assets/images/header-icon-nav.png" alt="iconnav">
    <nav class="nav-header">
      <ul class="nav-links">
        <li><a class="links" href="https://www.youtube.com/">Home</a></li>
        <li><a class="links" href="https://www.youtube.com/">Services</a></li>
        <li><a class="links" href="https://www.youtube.com/">Schedule</a></li>
        <li><a class="links" href="https://www.youtube.com/">Contact us<a></li>
        <li><a class="links" href="https://www.youtube.com/">Check Status</a></li>
      </ul>
    </nav>
    <img src="/src/assets/images/header-ellipse-nav-header.png" alt="allipse">
  </article>
  <article class="content-header">
    <h3 class="title-header">Get Vaccinated. Boost your Immune System</h3>
    <h1 class="heading-header">COVID-19 Vaccination
      Got Easier With,
      Vaccination.ng</h1>
    <p class="description-header">Vaccination.ng will help you find the nearest
      centre for vaccination, in all 36 states in Nigeria.</p>
  </article>
  <div class="button-header">
    <button class="get-vaccine">Get Vaccine</button>
    <button class="help-centre">Help Centre</button>
  </div>
  <aside class="image-header">
    <div class="doctor-avatar"><img src="/src/assets/images/header-doctor-avatar.png" alt="doctor"></div>
    <div class="corona-vaccine-header"><img src="/src/assets/images/header-vaccine-virus.png" alt="coronavirusvaccine">
    </div>
    <div class="corona-virus"><img src="/src/assets/images/coronavirus.png" alt="coronavirus"></div>
    <div class="class-doctor">
      <img src="/src/assets/images/header-doctor-firt.png" alt="doctor">
      <img src="/src/assets/images/header-doctor-second.png" alt="doctor">
      <img src="/src/assets/images/header-doctor-third.png" alt="doctor">
      <div class="specialist">
        <div class="number-list">20+</div>
        <p class="name-list">Specialists</p>
      </div>
    </div>
  </aside>
  <article class="address-header">
    <figure class="clock-image">
      <img class="clock-wrap" src="/src/assets/images/header-clock.png" alt="clock">
      <figcaption class="content-clock">Schedule your Vaccination</figcaption>
    </figure>

  </article>
</header>
