<section class="profile text-font">
  <div class="container wrap-profile">
    <h3 class="text-description heading-about">
      Check your COVID-19 result on our Database
    </h3>
    <div class="content-about">
      <input class="input input-about" type="text" placeholder="Okeowo">
      <input class="input input-about" type="text" placeholder="NIK Number">
      <button class="input button-about">Check</button>
    </div>
    <div class="wrap-description-about">
      <div class="text-description description-about">Need a certificate for your COVID-19 result? Please click
        <a href="https://www.youtube.com/">here</a>
      </div>
    </div>
  </div>
</section>
