<section class="profile">
  <form class="wrap-profile" action="javascript:void(0)">
    <h3 class="heading-profile">
      Check your COVID-19 result on our Database
    </h3>
    <div class="content-profile  flex-column">
      <input class="input input-primary" type="text" placeholder="Okeowo">
      <input class="input input-primary" type="text" placeholder="NIK Number">
      <button class="button-third" type="submit">Check</button>
    </div>
    <div class="wrap-description-profile">
      <h3 class="description-profile">Need a certificate for your COVID-19 result? Please click
        <a class="description-profile-link" href="https://www.youtube.com/" aria-label="Go to the new website">here</a>
      </h3>
    </div>
  </form>
</section>
