<section class="quote text-font">
  <form class="wrap-quote" action="javascript:void(0)">
    <article class="quote-content">
      <h2 class="quote-title">Get a quote</h2>
      <h4 class="quote-text">Please do enter your email address below</h4>
    </article>
    <section class="wrap-quote-input">
      <input class="quote-input" type="text" placeholder="lenux.ng@gmail.com" />
      <button class="button button-quote"><img src="/src/assets/images/plane-icon.png" alt="icon-plan"></button>
    </section>
  </form>
</section>
