<section class="quote text-font">
  <form class="container wrap-quote" action="javascript:void(0)">
    <article class="quote-content">
      <h2 class="text-description quote-title">Get a quote</h2>
      <h4 class="quote-text">Please do enter your email address below</h4>
      <div class="wrap-quote-input">
        <input class="quote-input" type="text" placeholder="lenux.ng@gmail.com"/>
          <img class="quote-input-img" src="/src/assets/images/plane-icon.webp" alt="icon-plan" />
      </div>
    </article>
  </form>
</section>
