<section class="quote text-normal">
  <form class="container wrap-quote" action="javascript:void(0)">
    <article class="quote-content">
      <h2 class="text-description quote-title">Get a quote</h2>
      <p class="quote-text">Please do enter your email address below</p>
      <div class="wrap-quote-input">
        <input class="quote-input" type="text" placeholder="lenux.ng@gmail.com" />
        <img class="quote-input-img" src="/src/assets/images/plane-icon.webp" alt="icon-plan" />
      </div>
    </article>
  </form>
</section>
