<section class="verify text-font">
  <div class="container wrap-verify">
    <h1 class="text-description verify-heading">
      Get your vaccine registration today
    </h1>
    <div class="wrap-verify-content">
      <div class="verify-content-heading">
        <img class="verify-image-bg" src="/src/assets/images/verify-image-bg.webp" alt="verify-img" />
        <div class="wrap-verify-content-heading flex-space-between">
          <h4 class="text-description verify-title">COVID-19 Vaccine</h4>
          <button class="button button-status" type="submit">Verify Status</button>
        </div>
      </div>
      <form class="verify-content-description" action="javascript:void(0)">
        <div class="wrap-verify-content-description  flex-direction-column">
          <h4 class="text-description verify-content-description">
            Patient’s Full Name
          </h4>
          <input class="input input-fullname" type="text" placeholder="Full name" />
          <h4 class="text-description verify-content-description">
            Mobile Number
          </h4>
          <p class="verify-text-description">
            Notifications for appointment and reminders will be sent to this
            provided number
          </p>
          <div class="wrap-verify-input-button  flex-direction-column">
            <div class="verify-input-phone flex-space-between">
              <span class="verify-image-flag">
                <img src="/src/assets/images/verify-icon-flag.webp" alt="flag" />
              </span>
              <input class="verify-input" type="text" placeholder="Phone number" />
            </div>
            <button class="button button-verify" type="submit">Verify</button>
          </div>
        </div>
        <button class="button button-submit" type="submit">Submit</button>
        <div class="text-footer-verify flex-space-between">
          <p class="text-footer-verify-firt">Already registered ?</p>
          <a class="text-footer-verify-second" href="https://www.youtube.com/">Check your status</a>
        </div>
      </form>
    </div>
  </div>
</section>
