.about {
  background: rgba(255, 255, 255, 0.50);
}

.wrap-about {
  padding: 6px 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.wrap-about-logo {
  max-width: 73px;
}

@media screen and (min-width:768px) {
  .wrap-about {
    padding: 10px 50px;
  }

  .wrap-about-logo {
    max-width: 150px;
  }
}

@media screen and (min-width:1440px) {
  .wrap-about {
    padding-top: 21px;
    padding-bottom: 10px;
    padding-left: 71px;
    padding-right: 70px;
  }

  .wrap-about-logo {
   max-width: 290px;
  }
}
