.information {
  position: relative;
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-information {
  padding: 42px 0;
}

.information-title {
  font-size: 24px;
  padding-bottom: 17px;
  padding-right: 30px;
  color: var(--text--color--primary);
}

.information-heading-text {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.information-content {
  border-radius: 20px 80px 20px 20px;
  background: rgba(196, 196, 196, 0.20);
  padding: 20px 0 32px 0;
}

.wrap-information-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.information-content-title {
  color: var(--text--color--second);
}

.information-content-link-text {
  color: var(--text--color--primary);
  margin-right: 5px;
}

.information-content-link {
  align-items: center;
  display: flex;
}

.information-content-description {
  color: var(--text--color--primary);
  font-weight: 500;
  font-size: 12px;
}

.information-user {
  padding: 20px 12px 26px 20px;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.50);
  margin-top: 30px;
  margin-bottom: 30px;
}

.information-text {
  color: var(--text--color--primary);
}

.information-link {
  color: var( --text--collor--third);
  margin-right: 5px;
}

.wrap-information-icon {
 padding-right: 152px;
}
