.information {
  position: relative;
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-information {
  padding: 42px 0;
}

.information-title {
  font-size: 24px;
  padding-bottom: 17px;
  padding-right: 30px;
}

.information-heading-text {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.information-content {
  border-radius: 20px 80px 20px 20px;
  background: rgba(196, 196, 196, 0.20);
  padding: 20px 0 32px 0;
}

.wrap-information-content {
  display: flex;
  flex-direction: column;
  gap : 20px ;
  padding: 0 20px;
}

.information-content-title {
  color:#17C2EC;
}
