.information {
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-information {
  padding: 42px 0;
}

.information-title {
  font-size: var(--font--size--big);
  padding-bottom: 17px;
  padding-right: 30px;
  color: var(--text--color--primary);
}

.information-heading-text {
  color: rgba(255, 255, 255, 0.50);
  font-weight: 400;
  margin-bottom: 40px;
}

.information-content {
  border-radius: 20px 80px 20px 20px;
  background: var(--background--color--third);
  padding: 20px 0 32px 0;
}

.wrap-information-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.information-content-title {
  color: var(--text--color--second);
}

.information-content-link {
  display: flex;
}

.information-content-description {
  color: var(--text--color--primary);
  font-weight: 500;
  font-size: var(--font--size--vrsm);
}

.information-user,
.information-ther {
  padding: 20px 0 30px 20px;
  border-radius: 20px;
  border: var(--border--color--second);
  margin-top: 30px;
}

.information-text {
  color: var(--text--color--primary);
}

.information-link {
  color: var(--text--collor--third);
  margin-right: 10px;
  text-decoration: none;
  font-weight: 700;
}

.information-link:hover {
  color: var(--text--color--second);
  cursor: pointer;
}

.wrap-information-icon {
  padding-right: 110px;
}

.information-text {
  padding-bottom: 20px;
}

.information-ther-icon-image {
  padding-bottom: 20px;
}

.information-content-link-icon {
  cursor: pointer;
}

@media screen and (min-width:768px) {
  .wrap-information {
    padding-top: 58px;
    padding-bottom: 45px;
  }

  .information-title {
    font-size: 36px;
    padding-right: 210px;
    padding-bottom: 40px;
  }

  .information-heading-text {
    font-size: var(--font--size--large);
    margin-bottom: 50px;
    padding-right: 185px;
  }

  .information-content-title {
    font-size: var(--font--size--big);
  }

  .information-content-description {
    font-size: 18px;
  }

  .information-content {
    padding: 40px 0 78px 0;
  }

  .wrap-information-content {
    padding: 0 60px 0 40px;
    flex-direction: column;
    gap: 40px;
    display: flex;
  }

  .wrap-information-icon {
    display: flex;
    justify-content: space-between;
    padding: initial;
  }

  .information-user,
  .information-ther {
    max-width: 300px;
    width: 100%;
    padding: 55px 45px;
    margin-top: 40px;
    border-radius: 50px;
  }

  .information-text {
    font-size: var(--font--size--large);
  }
}

@media screen and (min-width:1440px) {
  .wrap-information {
    padding-top: 58px;
    padding-bottom: 80px;
  }

  .information-heading {
    display: flex;
    margin-bottom: 40px;
  }

  .information-title {
    padding: initial;
    max-width: 550px;
    width: 100%;
    font-size: 48px;
    margin-right: 200px;
  }

  .information-heading-text {
    padding: initial;
    font-size: var(--font--size--large);
    max-width: 535px;
    width: 100%;
  }

  .container-information {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
  }

  .wrap-information-icon {
   max-width: 720px;
   width: 100%;
   margin-top: 100px;
  }

  .information-user, .information-ther {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .information-text {
    padding-top: 35px;
    font-size: var(--font--size--big);
  }
}
