.symptoms {
  background-image: url("/src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-symptoms {
  padding-top: 25px;
}

.symptoms-content {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.symptoms-content-title {
  font-size: var(--font--size--vrsm);
  color: var(--text--color--primary);
}

.symptoms-content-body {
  display: flex;
  font-size: var(--font--size--big);
  font-weight: 800;
  color: var(--text--color--primary);
  margin: 10px 0;
  justify-content: center;
}

.text-blue {
  color: var(--text--color--second);
  margin-left: 5px;
}

.symptoms-content-footer {
  color: var(--text--collor--third);
  font-size: var(--font--size--vrsm);
  font-weight: 500;
}

.symptoms-description {
  width: 100%;
}

.wrap-symptoms-humans-image {
  display: flex;
}

.symptoms-humans-image {
  width: 100%;
  margin: 0 auto;
  max-width: 222px;
  height: 170px;
}

.symptoms-image-virus {
  max-width: 32px;
  height: 32px;
  width: 100%;
  margin-right: -10px;
}

.symptoms-description-text {
  color: var(--text--color--second);
  font-size: 9px;
  font-weight: 600;
  background: var(--background--color--primary);
  padding: 6px 8px 6px 16px;
  border-radius: 6px;
}

.wrap-description-symptoms-element {
  display: flex;
  align-items: center;
}

.symptoms-description-firt {
  max-width: 1127px;
  width: 100%;
  padding: 0 35px 0 60px;
}

.symptoms-description-second {
  width: 100%;
  max-width: 1282px;
  padding: 0 12px 0 28px;
}

.symptoms-description-third {
  width: 100%;
  max-width: 1367px;
  padding: 0 6px;
}

.symptoms-description {
  position: relative;
}

.wrap-symptoms-description {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media screen and (min-width:768px) {
  .wrap-symptoms {
    padding-top: 40px;
  }

  .symptoms-content-title {
    font-size: var(--font--size--large);
  }

  .symptoms-content-body {
    font-size: var(--font--size--vrbig);
    margin-bottom: 40px;
  }

  .symptoms-content {
    max-width: 550px;
    margin-bottom: 60px;
  }

  .symptoms-content-footer {
    font-size: 18px;
  }

  .symptoms-humans-image {
    height: 350px;
    max-width: 460px;
  }

  .symptoms-image-virus {
    height: 65px;
    max-width: 65px;
    margin-right: -20px;
  }

  .symptoms-description-firt {
    padding: 0 57px 0 121px;
  }

  .symptoms-description-second {
    padding: 0 25px 0 55px;
  }

  .symptoms-description-third {
    padding: 0 11px 0 10px;
  }

  .symptoms-description-text {
    font-size: 18px;
    padding: 12px 16px 11px 33px;
  }

  .wrap-symptoms-description {
    gap:26px;
  }
}
