.wrap-verify {
  padding: 35px 35px 40px 35px;
}

.wrap-verify-content {
  display: flex;
  flex-wrap: wrap;
}

.verify-heading {
  max-width: 230px;
  width: 100%;
  font-size: var(--font-size-big);
}

.verify-content-heading {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.verify-title {
  margin: 0 auto;
  max-width: 68px;
  width: 100%;
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--text-color-primary);
}

.wrap-verify-content-heading {
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  height: 100%;
  padding: 50px 0;
  max-width: 200px;
  width: 100%;
}

.verify-input-phone {
  border-radius: 10px;
  background: var(--background-color-cod-gray);
  max-width: 400px;
  width: 100%;
  padding: 7px 20px;
  cursor: pointer;
  border: var(--border-color-primary);
}

.verify-input-phone:hover {
  border: var(--border-color-third);
}

.wrap-verify-content-description {
  font-size: var(--font-size-sm);
}

.verify-content-description {
  gap: 20px;
  margin-bottom: 60px;
  font-size: var(--font-size-sm);
  margin-top: 40px;
  cursor: pointer;
}

.verify-text-description {
  font-weight: 500;
}

.text-foot-verify {
  margin-top: 20px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.text-foot-verify-second {
  color: var(--text-color-second);
  text-decoration: none;
}

.text-foot-verify-firt {
  color: var(--text-color-third);
}

.text-foot-verify-firt:hover {
  cursor: pointer;
  color: var(--text-collor-four);
}

.text-foot-verify-second:hover {
  cursor: pointer;
  color: var(--text-collor-blue);
}

.wrap-verify-input-button {
  gap: 20px;
}

@media screen and (min-width:768px) {
  .wrap-verify {
    padding: 40px 50px 50px 50px;
  }

  .wrap-verify-input-button {
    justify-content: space-between;
    flex-direction: row;
  }

  .verify-heading {
    max-width: 586px;
    width: 100%;
    font-size: 36px;
  }

  .verify-image-bg {
    width: 100%;
    max-width: 377px;
  }

  .wrap-verify-content-heading {
    padding: 65px 0 35px 0;
  }

  .verify-title {
    font-size: var(--font-size-large);
    max-width: 97px;
  }

  .wrap-verify-content-description {
    font-size: var(--font-size-large);
  }

  .verify-content-description {
    gap: 30px;
    font-size: var(--font-size-large);
  }

  .verify-input-phone {
    max-width: 450px;
  }

  .text-foot-verify {
    margin-top: 40px;
    font-size: var(--font-size-large);
  }
}

@media screen and (min-width:1440px) {
  .wrap-verify {
    padding: 40px 70px 33px 71px;
  }

  .wrap-verify-content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .verify-content-heading {
    margin-top: -65px;
    margin-bottom: 65px;
    max-width: 400px;
    width: 100%;
  }

  .verify-heading {
    max-width: 452px;
    font-size: 48px;
  }

  .wrap-verify-content-description {
    font-size: var(--font-size-big);
  }

  .verify-content-description {
    font-size: var(--font-size-big);
    max-width: 740px;
  }

  .verify-text-description {
    font-size: var(--font-size-large);
  }
}
