.wrap-verify {
  padding: 35px 0 40px 0;
}

.verify-heading {
  max-width: 230px;
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}

.verify-content-heading {
  position: relative;
  display: flex;
  justify-content: center;
}

.verify-image-bg {
  margin-bottom: 40px;
}

.verify-title {
  margin: 0 auto;
  max-width: 68px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: var(--text--color--primary);
}

.wrap-verify-content-heading {
  padding: 55px 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.button-status {
  padding: 16px 53px;
  background: var(--background--color--primary);
}

.verify-input {
  border: var(--border--color--primary);
  background: none;
}

.verify-input:hover {
  border: var(--border--color--third);
}

.verify-input-phone {
  border-radius: 10px;
  background: var(--background--color--six);
  max-width: 305px;
  width: 100%;
  padding: 7px 0 3px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.wrap-verify-content-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
  font-size: 14px;
}

.input-fullname {
  padding: 16px 0 17px 20px;
  background: var(--background--color--six);
  border: var(--border--color--primary);
}

.input-fullname:hover {
  border: var(--border--color--third);
}

.verify-text-description {
  font-weight: 500;
}

.button-verify {
  padding: 20px 0;
  max-width: 150px;
}

.button-submit {
  padding: 20px 0;
  width: 100%;
}

.text-footer-verify {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.text-footer-verify-second {
  color: var(--text--color--second);
  text-decoration: none;
}

.text-footer-verify-second:hover {
  cursor: pointer;
  color: var(--text--collor--four);
}
.wrap-verify-input-button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width:768px) {
  .wrap-verify {
    padding: 40px 0 50px 0;
  }

  .verify-heading {
    max-width: 586px;
    width: 100%;
    font-size: 36px;
    margin-bottom: 40px;
  }

  .verify-image-bg {
    width: 100%;
    max-width: 377px;
    margin-bottom: 70px;
  }
  .wrap-verify-content-heading {
    padding: 65px 0 0 85px;
    gap:320px;
  }
  .verify-title {
    font-size: 20px;
    max-width: 97px;
  }
  .button-status {
    font-size: 20px;
  }
  .verify-content-heading {
    justify-content: start;
  }

  .wrap-verify-content-description {
    gap: 30px ;
    font-size: 20px;
  }

  .wrap-verify-input-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .verify-input-phone {
    max-width: 400px;
  }
  .button-verify {
    padding: 20px 55px;
  }
  .text-footer-verify {
    margin-top: 40px;
    font-size: 20px;
  }
}
