.feedback {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/assets/images/feedback-background.webp");
}

.wrap-feedback {
  padding: 30px 35px;
  margin-bottom: 150px;
}

.feedback-content-title {
  font-size: var(--font-size-sm);
  color: var(--text-color-second);
  text-align: center;
  margin-bottom: 10px;
}

.feedback-content-body {
  font-size: var(--font-size-big);
  text-align: center;
  margin-bottom: 10px;
}

.feedback-content-foot {
  font-size: var(--font-size-vrsm);
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  width: 100%;
  color: var(--text-color-abbey-dark);
}

.feedback-dscr-firt {
  background: var(--background-color-cod-gray);
  border-radius: 14px;
  padding: 30px;
  margin: 0 auto;
}

.wrap-feedback-dscr {
  display: flex;
  margin-bottom: 30px;
  max-width: 220px;
}

.wrap-feedback-dscr-img {
  width: 53px;
  height: 53px;
  margin-right: 15px;
}

.feedback-dscr-text-content {
  font-size: var(--font-size-vrsm);
  font-weight: 500;
  text-align: center;
  max-width: 250px;
}

.feedback-dscr-title {
  color: var(--text-color-black);
}

.feedback-dscr-text {
  color: var(--text-collor-abbey-dark);
  font-size: 11px;
}

.feedback-dscr-second {
  background: var(--background-color-bright-turquoise);
  border-radius: 16px;
  padding: 30px;
  color: var(--text-color-primary);
  margin: 0 auto;
}

.wrap-feedback-dscr-content {
  gap: 30px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .wrap-feedback {
    padding: 46px 50px 60px 50px;
  }

  .feedback-content-title {
    font-size: var(--font-size-large);
  }

  .feedback-content-body {
    margin-bottom: 40px;
    font-size: var(--font-size-vrbig);
  }

  .feedback-content-foot {
    font-size: var(--font-size-large);
    max-width: 580px;
  }

  .wrap-feedback-dscr-content {
    margin-top: 60px;
    padding: 0 140px;
  }

  .feedback-dscr-firt {
    padding: 30px 44px;
  }

  .wrap-feedback-dscr {
    max-width: 275px;
  }

  .wrap-feedback-dscr-img {
    width: 70px;
    height: 70px;
  }

  .feedback-dscr-title {
    font-size: var(--font-size-large);
  }

  .feedback-dscr-text {
    font-size: var(--font-size-sm);
  }

  .feedback-dscr-text-content {
    font-size: 18px;
    max-width: 335px;
  }

  .feedback-dscr-second {
    padding: 30px 45px;}

}

@media screen and (min-width: 1440px) {
  .feedback {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/src/assets/images/feedback-background.webp");
  }

  .wrap-feedback {
    padding: 57px 71px 106px 70px;
  }

  .feedback-content-title {
    font-size: var(--font-size-big);
    margin-bottom: 20px;
  }

  .feedback-content-body {
    margin-bottom: 40px;
    font-size: var(--font--size-vrbig);
  }

  .feedback-content-foot {
    font-size: var(--font--size-large);
    max-width: 950px;
  }

  .wrap-feedback-dscr-content {
    margin-top: 100px;
    flex-direction: row;
    gap: 40px;
    padding: initial;
  }

  .wrap-feedback-dscr-img {
    width: 70px;
    height: 70px;
  }

  .feedback-dscr-title {
    font-size: var(--font-size-large);
  }

  .feedback-dscr-text {
    font-size: var(--font-size-sm);
  }

  .feedback-dscr-text-content {
    font-size: 18px;
    max-width: 366px;
  }

}
