<div class="about-background">
  <div class="about-heading">
      <h3 class="about-title">Test Yönetimiyle Neler Sağlıyoruz?</h3>
      <p class="about-description">IoT Destekli Çözümler</p>
  </div>
  <div class="about-content">
    <div class="about-content-post-1">Yazılım Kalitesini Arttırıyoruz</div>
    <div>
      <img class="about-icon" src="/src/assets/images/about/about-icon.png" alt="icon" />
    </div>
    <div class="about-content-post-2">Olası Hataları Önceden Belirliyoruz</div>
    <div>
      <img class="about-icon" src="/src/assets/images/about/about-icon.png" alt="icon" />
    </div>
    <div class="about-content-post-3">Oluşabilecek Riskleri Önlüyoruz</div>
    <div>
      <img class="about-icon" src="/src/assets/images/about/about-icon.png" alt="icon" />
    </div>
    <div class="about-content-post-4">Zaman ve Maliyetten Tasarruf Sağlıyoruz</div>
  </div>
</div>