<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <about>
        <div class="about-background">
            <div class="about-heading">
                <p class="about-title">Test Yönetimiyle Neler Sağlıyoruz?</p>
                <p class="about-dcrs">IoT Destekli Çözümler</p>
            </div>
            <div class="about-content">
                <div class="about-post1">Yazılım Kalitesini
                    Arttırıyoruz</div>
                <div><img class="about-icon" src="../assets/images/about/about-icon/icon.png" alt="icon"></div>
                <div class="about-post2">Olası Hataları Önceden
                    Belirliyoruz</div>
                <div><img class="about-icon" src="../assets/images/about/about-icon/icon.png" alt="icon"></div>
                <div class="about-post3">Oluşabilecek Riskleri
                    Önlüyoruz</div>
                <div><img class="about-icon" src="../assets/images/about/about-icon/icon.png" alt="icon"></div>
                <div class="about-post4">Zaman ve Maliyetten
                    Tasarruf Sağlıyoruz</div>
            </div>
       
       
    </about>

</body>

</html>