<div class="about-background">
  <div class="about-heading">
    <section>
      <h3 class="about-title">Test Yönetimiyle Neler Sağlıyoruz?</h3>
      <p class="about-dcrs">IoT Destekli Çözümler</p>
    </section>
  </div>
  <div class="about-content">
    <div class="about-post">Yazılım Kalitesini Arttırıyoruz</div>
    <div>
      <img class="about-icon" src="/src/assets/images/about/about-icon/icon.png" alt="icon" />
    </div>
    <div class="about-post">Olası Hataları Önceden Belirliyoruz</div>
    <div>
      <img class="about-icon" src="/src/assets/images/about/about-icon/icon.png" alt="icon" />
    </div>
    <div class="about-post">Oluşabilecek Riskleri Önlüyoruz</div>
    <div>
      <img class="about-icon" src="/src/assets/images/about/about-icon/icon.png" alt="icon" />
    </div>
    <div class="about-post">Zaman ve Maliyetten Tasarruf Sağlıyoruz</div>
  </div>
</div>