<div class="category">
  <h4 class="category-heading">Kalite ve Süreç Yönetimi</h4>
  <p class="category-description">
    Müşterilerimizin yüksek kalite seviyelerini koruyabilmeleri için
    farklı sektörlerde tecrübe kazanmış uzman kadrolarımızla Proje
    Yönetimi, İş Analizi ve Test Yönetimi hizmetleri sunmaktayız.
  </p>
  <div class="category-post">
    <div class="category-post-file">
      <div class="category-post-icon-pink"><img src="/src/assets/images/category/file/file-icon.png" alt="icon-file">
      </div>
      <div class="category-post-icon-file"><img src="/src/assets/images/category/file/file.png" alt="file"></div>
      <div class="category-post-heading-icon-file">Döküman Analizi</div>
      <div class="category-post-content-file">Ante vulputate ut at accumsan et. Feugiat at tempus, est senectus amet,
        elementum.
      </div>
    </div>
    <div class="category-post-star">
      <div class="category-post-icon-violet"><img src="/src/assets/images/category/star/star-icon.png" alt="icon-star">
      </div>
      <div class="category-post-icon-star"><img src="/src/assets/images/category/star/star.png" alt="star"></div>
      <div class="category-post-heading-icon-star">Kabul ve Değerlendirme</div>
      <div class="category-post-content-star">Ante vulputate ut at accumsan et. Feugiat at tempus, est senectus amet,
        elementum.
      </div>
    </div>
    <div class="category-post-crown">
      <div class="category-post-icon-blue"><img src="/src/assets/images/category/crown/crown-icon.png" alt="icon-crown">
      </div>
      <div class="category-post-icon-crown"><img src="/src/assets/images/category/crown/crown.png" alt="crown"></div>
      <div class="category-post-heading-icon-crown">İş Kuralları Analizi</div>
      <div class="category-post-content-crown">Ante vulputate ut at accumsan et. Feugiat at tempus, est senectus amet,
        elementum.
      </div>
    </div>
    <div class="category-post-chartbar">
      <div class="category-post-icon-light-blue"><img src="/src/assets/images/category/chartBar/chartbar-icon.png"
          alt="icon-chartbar">
      </div>
      <div class="category-post-icon-chartbar"><img src="/src/assets/images/category/chartBar/chartbar.png"
          alt="chartbar">
      </div>
      <div class="category-post-heading-icon-chartbar">Akış Diyagramları</div>
      <div class="category-post-content-chartbar">Ante vulputate ut at accumsan et. Feugiat at tempus, est senectus
        amet,
        elementum.
      </div>
    </div>
    <div class="category-post-chartpieslice">
      <div class="category-post-icon-red"><img src="/src/assets/images/category/chartPieSlice/chartpieslice-icon.png"
          alt="icon-chartpieslice">
      </div>
      <div class="category-post-icon-chartpieslice"><img
          src="/src/assets/images/category/chartPieSlice/chartpieslice.png" alt="chartpieslice"></div>
      <div class="category-post-heading-icon-chartpieslice">Paydaş Analizi</div>
      <div class="category-post-content-chartpieslice">Ante vulputate ut at accumsan et. Feugiat at tempus, est senectus
        amet,
        elementum.
      </div>
    </div>
    <div class="category-post-figmalogo">
      <div class="category-post-icon-yellow"><img src="/src/assets/images/category/figmaLogo/figmalogo-icon.png"
          alt="icon-figmalogo">
      </div>
      <div class="category-post-icon-figmalogo"><img src="/src/assets/images/category/figmaLogo/figmalogo.png"
          alt="figmalogo">
      </div>
      <div class="category-post-heading-icon-figmalogo">Prototipleme</div>
      <div class="category-post-content-figmalogo">Ante vulputate ut at accumsan et. Feugiat at tempus, est senectus
        amet,
        elementum.
      </div>
    </div>
  </div>
</div>