<footer>
    <div class="content-footer">
        <ul class="column-footer">
            <li style="font-weight: 700;line-height: 40px; color: var(--text-white, #FFF);">Çözüm ve Hizmetler</li>
            <li>Yazılım Geliştirme</li>
            <li>Outsourcing</li>
            <li>Kalite ve Süreç Yönetimi</li>
            <li>Danışmanlık</li>
            <li>IoT Destekli Çözümler</li>
        </ul>
        <ul class="column-footer">
            <li style="font-weight: 700;line-height: 40px; color: var(--text-white, #FFF);">Ürünler</li>
            <li>Eğitim Yönetim Sistemi</li>
            <li>İnsan Sermayesi Yönetim Sistemi</li>
            <li>Müşteri İlişkileri Yönetim Sistemi</li>
            <li>İçerik Yönetim Sistemi</li>
        </ul>
        <ul class="column-footer">
            <li style="font-weight: 700;line-height: 40px; color: var(--text-white, #FFF);">Kurumsal</li>
            <li>Hakkımızda</li>
            <li>Belge ve Yetkinlikler</li>
            <li>İş Ortakları</li>
        </ul>
        <ul class="column-footer">
            <li style="font-weight: 700;line-height: 40px; color: var(--text-white, #FFF);">İletişiml</li>
            <li>Bilgi İstek Formu</li>
            <li>Uzman Talep Formu</li>
        </ul>
    </div>
    <div class="address-footer">
        <p> © Copyright 2010-2021 - Can Çevik</p>
    </div>
    <div class="logo-footer">
        <section>
            <img class="link-logo-footer" src="/src/assets/images/footer/logo1-footer.png" alt="lg1">
            <img class="link-logo-footer" src="/src/assets/images/footer/logo2-footer.png" alt="lg2">
            <img class="link-logo-footer" src="/src/assets/images/footer/logo3-footer.png" alt="lg3">
            <img class="link-logo-footer" src="/src/assets/images/footer/logo4-footer.png" alt="lg4">
            <img class="link-logo-footer" src="/src/assets/images/footer/logo5-footer.png" alt="lg5">
        </section>
    </div>
</footer>