<footer>
  <aside class="content-footer">
    <ul class="column-footer">
      <li class="heading-footer"><a class="link-footer" href="https://www.youtube.com/">Çözüm ve Hizmetler</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Yazılım Geliştirme</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Outsourcing</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Kalite ve Süreç Yönetimi</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Danışmanlık</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">IoT Destekli Çözümler</a></li>
    </ul>
    <ul class="column-footer">
      <li class="heading-footer"><a class="link-footer" href="https://www.youtube.com/">Ürünler</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Eğitim Yönetim Sistemi</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">İnsan Sermayesi Yönetim Sistemi</a>
      </li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/"> Müşteri İlişkileri Yönetim
          Sistemi</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">İçerik Yönetim Sistemi</a></li>
    </ul>
    <ul class="column-footer">
      <li class="heading-footer"><a class="link-footer" href="https://www.youtube.com/">Kurumsal</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Hakkımızda</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Belge ve Yetkinlikler</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">İş Ortakları</a></li>
    </ul>
    <ul class="column-footer">
      <li class="heading-footer"><a class="link-footer" href="https://www.youtube.com/">İletişim</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Bilgi İstek Formu</a></li>
      <li class="text-footer"><a class="link-footer" href="https://www.youtube.com/">Uzman Talep Formu</a></li>
    </ul>
  </aside>
  <aside class="logo-footer">
    <p class="text-description address-footer"> © Copyright 2010-2021 - Can Çevik</p>
    <div class="link-logo-footer">
      <a href="https://www.youtube.com/"><img class="link-logo" src="/src/assets/images/footer/logo-medium-footer.png"
          alt="medium"></a>
      <a href="https://www.youtube.com/"><img class="link-logo" src="/src/assets/images/footer/logo-linkedin-footer.png"
          alt="linkedin"></a>
      <a href="https://www.youtube.com/"><img class="link-logo" src="/src/assets/images/footer/logo-twitter-footer.png"
          alt="twitter"></a>
      <a href="https://www.youtube.com/"><img class="link-logo"
          src="/src/assets/images/footer/logo-instagram-footer.png" alt="instagram"></a>
      <a href="https://www.youtube.com/"><img class="link-logo" src="/src/assets/images/footer/logo-facebook-footer.png"
          alt="facebook"></a>
    </div>
  </aside>
</footer>
