<footer>
    <div class="content-footer">
        <ul class="column-footer-1">
            <li class="ft" style="font-weight: 700;line-height: 24px; color: var(--text-white, #FFF);">Çözüm ve
                Hizmetler</li>
            <li class="ft">Yazılım Geliştirme</li>
            <li class="ft">Outsourcing</li>
            <li class="ft">Kalite ve Süreç Yönetimi</li>
            <li class="ft">Danışmanlık</li>
            <li class="ft">IoT Destekli Çözümler</li>
        </ul>
        <ul class="column-footer-2">
            <li class="ft" style="font-weight: 700;line-height: 24px; color: var(--text-white, #FFF);">Ürünler</li>
            <li class="ft">Eğitim Yönetim Sistemi</li>
            <li class="ft">İnsan Sermayesi Yönetim Sistemi</li>
            <li class="ft"> Müşteri İlişkileri Yönetim Sistemi</li>
            <li class="ft">İçerik Yönetim Sistemi</li>
        </ul>
        <ul class="column-footer-3">
            <li class="ft" style="font-weight: 700;line-height: 24px; color: var(--text-white, #FFF);">Kurumsal</li>
            <li class="ft">Hakkımızda</li>
            <li class="ft">Belge ve Yetkinlikler</li>
            <li class="ft">İş Ortakları</li>
        </ul>
        <ul class="column-footer-4">
            <li class="ft" style="font-weight: 700;line-height: 24px; color: var(--text-white, #FFF);">İletişim</li>
            <li class="ft">Bilgi İstek Formu</li>
            <li class="ft">Uzman Talep Formu</li>
        </ul>
    </div>
    <div class="logo-footer">
        <p class="address-footer"> © Copyright 2010-2021 - Can Çevik</p>
        <section class="link-logo-footer">
            <img class="link-logo" src="/src/assets/images/footer/logo1-footer.png" alt="lg1">
            <img class="link-logo" src="/src/assets/images/footer/logo2-footer.png" alt="lg2">
            <img class="link-logo" src="/src/assets/images/footer/logo3-footer.png" alt="lg3">
            <img class="link-logo" src="/src/assets/images/footer/logo4-footer.png" alt="lg4">
            <img class="link-logo" src="/src/assets/images/footer/logo5-footer.png" alt="lg5">
        </section>
    </div>
</footer>