<header>
    <nav class="nav-header">
      <ul class="nav-links">
        <li><a class="links" href="https://www.youtube.com/">Çözüm ve Hizmetler</a></li>
        <li><a class="links" href="https://www.youtube.com/">Ürünler</a></li>
        <li><a class="links" href="https://www.youtube.com/"> Teknolojiler</a></li>
        <li><a class="links" href="https://www.youtube.com/">İnsan Kaynakları</a></li>
        <li><a class="links" href="https://www.youtube.com/">Kurumsal</a></li>
        <li><a class="link" href="https://www.youtube.com/">İletişim</a></li>
      </ul>
    </nav>
  <article class="content-header">
    <h1 class="content-title">Bilgi Teknolojilerinde 23 Yıllık Tecrübe</h1>
      <p class="content-description">
        Müşterilerimizin yüksek kalite seviyelerini koruyabilmeleri için farklı
        sektörlerde tecrübe kazanmış uzman kadrolarımızla Proje Yönetimi, İş
        Analizi ve Test Yönetimi hizmetleri sunmaktayız.
      </p>
      <article class="content-input">
        <input class="input-header" type="text" placeholder="Mail bültenimize kayıt ol" />
        <button class="button-header">Kayıt Ol</button>
      </article>
  </article>
</header>