<header>
    <img class="img-header" src="/src/assets/images/header/header.background.png" alt="Image of header" />
    <div class="nav-header">
        <nav>
            <ul class="nav-links">
                <li><a class="link" href="#">Çözüm ve Hizmetler</a></li>
                <li><a class="link" href="#">Ürünler</a></li>
                <li><a class="link" href="#"> Teknolojiler</a></li>
                <li><a class="link" href="#">İnsan Kaynakları</a></li>
                <li><a class="link" href="#">Kurumsal</a></li>
                <li><a class="link" href="#">İletişim</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-header">
        <h1 class="content-title">Bilgi Teknolojilerinde 23 Yıllık Tecrübe</h1>
        <section>
            <p class="content-desc">
                Müşterilerimizin yüksek kalite seviyelerini koruyabilmeleri için
                farklı sektörlerde tecrübe kazanmış uzman kadrolarımızla Proje
                Yönetimi, İş Analizi ve Test Yönetimi hizmetleri sunmaktayız.
            </p>
            <div class="content-input">
                <input class="input-header" type="text" placeholder="Mail bültenimize kayıt ol" />
                <button class="button-header">Kayıt Ol</button>
            </div>
        </section>
    </div>
</header>