<article class="content-product">
    <article class="product-kalite">
        <article class="content-product-kalite">
            <h2 class="title-product-kalite">Kalite ve Süreç Yönetimi</h2>
            <p class="description-product-kalite">Deneyimli kadromuz; birçok farklı sektörden deneyimli, PMP®
                sertifikasına
                sahip, uzman proje yöneticilerinden oluşmaktadır. Projelerinizin yönetimine destek olmak, zayıf
                olduğunu düşündüğünüz alanları güçlendirmek, uluslararası geçerliliği olan PMI® metodolojisini
                şirketinizde uygulamak ve geliştirmek için yanınızdayız.</p>
            <button class="button-product-kalite">Keşfet</button>
        </article>
        <figure>
            <img class="img-product-kalite" src="/src/assets/images/product/img-product-kalite.jpg" alt="img-kalite">
        </figure>
    </article>
    <article class="product-text">
        <figure>
            <img class="img-product-text" src="/src/assets/images/product/img-product-text.jpg" alt="img-text">
        </figure>
        <article class="content-product-text">
            <h2 class="title-product-text">Test Yönetimi ve Analizi</h2>
            <p class="description-product-text">Danışmanlığını yürüttüğümüz projelerde yazılım hatalarını önlemek
                amacıyla
                gerçekleştirdiğimiz testleri her proje aşamasında manuel ya da test otomasyonu ile dikkatle
                uygulamaktayız. Deneyimli test ekibimiz, kurumlara yüksek kalitede yazılım testleri hizmeti ile
                baştan sona güvenli, kaliteli ve tatmin edici bir müşteri deneyimi sunmaktadır.</p>
            <button class="button-product-text">Keşfet</button>
        </article>
    </article>
</article>