<div class="content-product">
    <div class="product1">
        <div class="content-product1">
            <section>
                <h2 class="title-product1">Kalite ve Süreç Yönetimi</h2>
                <p class="dcrs-product1">Deneyimli kadromuz; birçok farklı sektörden deneyimli, PMP® sertifikasına
                    sahip, uzman proje yöneticilerinden oluşmaktadır. Projelerinizin yönetimine destek olmak, zayıf
                    olduğunu düşündüğünüz alanları güçlendirmek, uluslararası geçerliliği olan PMI® metodolojisini
                    şirketinizde uygulamak ve geliştirmek için yanınızdayız.</p>
                <button class="button-product1">Keşfet</button>
            </section>
        </div>
        <img class="img-product1" src="/src/assets/images/product/img-product-1.jpg" alt="img1">
    </div>
    <div class="product2">
        <img class="img-product2" src="/src/assets/images/product/img-product-2.jpg" alt="img2">
        <div class="content-product2">
            <section>
                <h2 class="title-product2">Test Yönetimi ve Analizi</h2>
                <p class="dcrs-product2">Danışmanlığını yürüttüğümüz projelerde yazılım hatalarını önlemek amacıyla
                    gerçekleştirdiğimiz testleri her proje aşamasında manuel ya da test otomasyonu ile dikkatle
                    uygulamaktayız. Deneyimli test ekibimiz, kurumlara yüksek kalitede yazılım testleri hizmeti ile
                    baştan sona güvenli, kaliteli ve tatmin edici bir müşteri deneyimi sunmaktadır.</p>
                <button class="button-product2">Keşfet</button>
            </section>
        </div>
    </div>
</div>