<section class="text-font content-product">
  <article class="container-extra-large product-kalite">
    <aside class="content-product-kalite">
      <h2 class="title-product-kalite">Kalite ve Süreç Yönetimi</h2>
      <p class="text-description description-product">Deneyimli kadromuz; birçok farklı sektörden deneyimli, PMP®
        sertifikasına
        sahip, uzman proje yöneticilerinden oluşmaktadır. Projelerinizin yönetimine destek olmak, zayıf
        olduğunu düşündüğünüz alanları güçlendirmek, uluslararası geçerliliği olan PMI® metodolojisini
        şirketinizde uygulamak ve geliştirmek için yanınızdayız.</p>
      <button class="button button-product">Keşfet</button>
    </aside>
    <figure>
      <img class="img-product" src="/src/assets/images/product/img-product-kalite.jpg" alt="img-kalite">
    </figure>
  </article>
  <article class="container-extra-large product-text">
    <figure>
      <img class="img-product" src="/src/assets/images/product/img-product-text.jpg" alt="img-text">
    </figure>
    <aside class="content-product-text">
      <h2 class="title-product-text">Test Yönetimi ve Analizi</h2>
      <p class="text-description description-product">Danışmanlığını yürüttüğümüz projelerde yazılım hatalarını önlemek
        amacıyla
        gerçekleştirdiğimiz testleri her proje aşamasında manuel ya da test otomasyonu ile dikkatle
        uygulamaktayız. Deneyimli test ekibimiz, kurumlara yüksek kalitede yazılım testleri hizmeti ile
        baştan sona güvenli, kaliteli ve tatmin edici bir müşteri deneyimi sunmaktadır.</p>
      <button class="button button-product">Keşfet</button>
    </aside>
  </article>
</section>
