<div class="content-sponner">
    <div class="heading-sponner">
        <p class="title-sponner">Referanslarımız</p>
        <p class="dcrs-sponner">Bize güvenen ve beraber çalıştığımız iş ortaklarımız</p>
    </div>
    <div class="logo-sponner">
        <img class="logo-1-sponner" src="/src/assets/images/sponner/logo-1.jpg" alt="logo1">
        <img class="logo-2-sponner" src="/src/assets/images/sponner/logo-2.png" alt="logo2">
        <img class="logo-3-sponner" src="/src/assets/images/sponner/logo-3.png" alt="logo3">
        <img class="logo-4-sponner" src="/src/assets/images/sponner/logo-4.png" alt="logo4">
        <img class="logo-5-sponner" src="/src/assets/images/sponner/logo-5.png" alt="logo5">
    </div>
</div>