<div class="content-sponsor">
    <article class="heading-sponsor">
        <h3 class="title-sponsor">Referanslarımız</h3>
        <p class="description-sponsor">Bize güvenen ve beraber çalıştığımız iş ortaklarımız</p>
    </article>
    <div class="logo-sponsor">
        <div class="background-logo-sponsor">
            <img class="logo-borusan-sponsor" src="/src/assets/images/sponsor/logo-borusan.png" alt="borusan">
        </div>
        <div class="logo-two-sponsor">
        <div class="background-logo-sponsor">
            <img class="logo-istanbul-sponsor" src="/src/assets/images/sponsor/logo-istanbul.png" alt="istanbul">
        </div>
        <div class="background-logo-sponsor">
            <img class="logo-bookmyshow-sponsor" src="/src/assets/images/sponsor/logo-bookmyshow.png" alt="bookmyshow">
        </div>
        </div>
        <div class="logo-three-sponsor">
        <div class="background-logo-sponsor">
                <img class="logo-akbank-sponsor" src="/src/assets/images/sponsor/logo-akbank.png" alt="akabank"></div>
        <div class="background-logo-sponsor">
                <img class="logo-akcansa-sponsor" src="/src/assets/images/sponsor/logo-akcansa.png" alt="akcansa"></div>
        <div class="background-logo-sponsor">
            <div class="logo-tumunugor-sponsor">
                <p class="text-sponsor">Tümünü Gör</p>
                <img class="click-logo-tumunugor-sponsor" src="/src/assets/images/sponsor/logo-tumunugor.png" alt="tumunugor">
            </div>
        </div>
        </div>
        <div class="logo-four-sponsor">
        <div class="background-logo-sponsor">
            <img class="logo-aktas-sponsor" src="/src/assets/images/sponsor/logo-aktas.png" alt="aktas"></div>
        <div class="background-logo-sponsor">
            <img class="logo-ola-sponsor" src="/src/assets/images/sponsor/logo-ola.png" alt="ola"></div>
        </div>
        <div class="background-logo-sponsor">
            <img class="logo-amazon-sponsor" src="/src/assets/images/sponsor/logo-amazon.png" alt="amazon">
        </div>
    </div>
</div>