<div class="content-sponner">
    <div class="heading-sponner">
        <section>
            <h3 class="title-sponner">Referanslarımız</h3>
            <p class="dcrs-sponner">Bize güvenen ve beraber çalıştığımız iş ortaklarımız</p>
        </section>
    </div>
    <div class="logo-sponner">
        <div class="bg-logo-sponner"><img class="logo-1-sponner" src="/src/assets/images/sponner/logo-1.png"
                alt="lg1-sp"></div>
        <div class="logo-2-sponner">
            <div class="bg-logo-sponner"><img class="logo-2-1-sponner" src="/src/assets/images/sponner/logo-2-1.png"
                    alt="lg2-1-sp">
            </div>
            <div class="bg-logo-sponner"><img class="logo-2-2-sponner" src="/src/assets/images/sponner/logo-2-2.png"
                    alt="lg2-2-sp">
            </div>
        </div>
        <div class="logo-3-sponner">
            <div class="bg-logo-sponner"><img class="logo-3-1-sponner" src="/src/assets/images/sponner/logo-3-1.png"
                    alt="lg3-1-sp"></div>
            <div class="bg-logo-sponner"><img class="logo-3-2-sponner" src="/src/assets/images/sponner/logo-3-2.png"
                    alt="lg3-2-sp"></div>
            <div class="bg-logo-sponner">
                <div class="logo-3-3-sponner">
                    <p>Tümünü Gör</p>
                    <img class="click-logo-3-3-sponner" src="/src/assets/images/sponner/logo-3-3.png" alt="lg3-3-sp">
                </div>
            </div>
        </div>
        <div class="logo-4-sponner">
            <div class="bg-logo-sponner"><img class="logo-4-1-sponner" src="/src/assets/images/sponner/logo-4-1.png"
                    alt="lg4-1-sp"></div>
            <div class="bg-logo-sponner"><img class="logo-4-2-sponner" src="/src/assets/images/sponner/logo-4-2.png"
                    alt="lg4-1-sp"></div>
        </div>
        <div class="bg-logo-sponner"><img class="logo-5-sponner" src="/src/assets/images/sponner/logo-5.png"
                alt="lg5-sp">
        </div>
    </div>
</div>