<section class="feedback wrap-feedback">
    <article class="feedback-content">
      <h2 class="feedback-content-title">FEEDBACK</h2>
      <h3 class="feedback-content-body">What our Patients Think</h3>
      <p class="feedback-content-foot">Adipiscing nec etiam tortor elit quisque.
        Arcu aliquet convallis aenean eu velit.
        Mi vestibulum, ullamcorper venenatis
        imperdiet augue arcu ue.</p>
    </article>
    <div class="wrap-feedback-dscr-content  flex-column">
      <div class="feedback-dscr-firt">
        <div class="wrap-feedback-dscr"><img class="wrap-feedback-dscr-img" src="/src/assets/images/feedback-maja.webp"
            alt="dscr-image">
          <hgroup class="feedback-img-content flex-column">
            <h4 class="feedback-dscr-title">Oyindamola Maja</h4>
            <p class="feedback-dscr-text">Badagry, Lagos</p>
          </hgroup>
        </div>
        <div class="feedback-dscr-text-content">“Been stressing about a close centre
          to get the covid-19 vaccine, until
          i tried Vaccination.ng”</div>
      </div>
      <div class="feedback-dscr-second">
        <div class="wrap-feedback-dscr">
          <img class="wrap-feedback-dscr-img" src="/src/assets/images/feedback-lekan.webp" alt="dscr-image">
          <hgroup class="feedback-img-content">
            <h4 class="feedback-dscr-title-second">Okeowo Lekan</h4>
            <p class="feedback-dscr-text">Ikeja, Lagos</p>
          </hgroup>
        </div>
        <div class="feedback-dscr-text-content">“Got my vaccine very close to my house.
          Was very easy scheduling
          an appointment.”</div>
      </div>
      <div class="feedback-dscr-firt">
        <div class="wrap-feedback-dscr">
          <img class="wrap-feedback-dscr-img" src="/src/assets/images/feedback-temitope.webp" alt="dscr-image">
          <hgroup class="feedback-img-content">
            <h4 class="feedback-dscr-title">Kafaru Temitope</h4>
            <p class="feedback-dscr-text">Obanikoro, Lagos</p>
          </hgroup>
        </div>
        <div class="feedback-dscr-text-content">“Been stressing about a close centre
          to get the covid-19 vaccine, until
          i tried Vaccination.ng”</div>
      </div>
    </div>
</section>
