<footer class="footer">
  <div class="container wrap-footer">
    <div class="logo-footer">
      <h2 class="title-logo-footer">Vaccination.ng</h2>
      <img class="line-header" src="/src/assets/images/line-vaccination.ng.webp" alt="line">
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-link">
        <li><a class="link" href="https://www.youtube.com/">Home</a></li>
        <li><a class="link" href="https://www.w3schools.com/">Services</a></li>
        <li><a class="link" href="https://cloudconvert.com/png-to-webp">Schedule</a></li>
        <li><a class="link" href="https://vi.wikipedia.org/wiki/Linux">Contact us</a></li>
      </ul>
    </nav>
    <div class="wrap-footer-logo">
      <a href="https://www.youtube.com/"><img class="link-logo" src="/src/assets/images/youtube-logo.webp"
        alt="youtube"></a>
      <a href="https://vercel.com/vietduongquocs-projects"><img class="link-logo" src="/src/assets/images/instagram-logo.webp"
        alt="instagram"></a>
      <a href="https://twitter.com/i/flow/login"><img class="link-logo" src="/src/assets/images/twitter-logo.webp"
        alt="twitter"></a>
      <a href="https://github.com/"><img class="link-logo" src="/src/assets/images/facebook-logo.webp"
        alt="facebook"></a>
    </div>
  </div>
</footer>
