<header class="header">
  <div class="wrap-header">
    <div class="header-heading">
      <div class="logo-header flex-column">
        <h2 class="title-logo-header">Vaccination.ng</h2>
        <img class="line-header" src="/src/assets/images/line-vaccination.ng.webp" alt="line">
      </div>
      <input type="checkbox" id="toggle" class="toggle-input">
      <label class="toggle-icon" for="toggle">
        <img src="/src/assets/images/align-right.webp" alt="icon-nav">
      </label>
      <nav class="header-nav" id="header-topnav">
        <ul class="nav-links flex-column">
          <li><a class="links" href="https://www.youtube.com/">Home</a></li>
          <li><a class="links" href="https://https://www.w3schools.com/">Services</a></li>
          <li><a class="links" href="https://www.https://cloudconvert.com/png-to-webp/">Schedule</a></li>
          <li><a class="links" href="https://zingmp3.vn/">Contact us</a></li>
        </ul>
      </nav>
      <button class="button button-check-status" type="submit">Check Status</button>
    </div>
    <div class="wrap-content-header">
      <div class="text-content-header">
        <article class="content-header flex-column">
          <h2 class="title-content-header">Get Vaccinated. Boost your Immune System</h2>
          <h1 class="heading-content-header">
            COVID-19 Vaccination Got Easier With, <span class="name-list">Vaccination.ng</span>
          </h1>
          <h2 class="description-content-header">
            Vaccination.ng will help you find the nearest centre for vaccination, in
            all 36 states in Nigeria.
          </h2>
        </article>
        <div class="wrap-button-header flex-space-between">
          <button class="button button-primary" type="submit">Get Vaccine</button>
          <button class="button button-primary" type="submit">Help Centre</button>
        </div>
      </div>
      <aside class="image-header">
        <figure class="border-medium doctor-avatar">
          <img class="image-doctor-avatar" src="/src/assets/images/header-doctor-avatar.webp" alt="doctor">
        </figure>
        <figure class="border-medium corona-vaccine-header">
          <img class="image-corona-vaccine-header" src="/src/assets/images/header-vaccine-virus.webp"
            alt="coronavirusvaccine">
        </figure>
        <figure class="border-medium corona-virus">
          <img class="image-corona-header" src="/src/assets/images/coronavirus.webp" alt="coronavirus">
        </figure>
        <div class="border-large class-doctor">
          <div class="image-three-doctor">
            <img src="/src/assets/images/header-doctor-firt.webp" alt="doctor">
            <img src="/src/assets/images/header-doctor-second.webp" alt="doctor">
            <img src="/src/assets/images/header-doctor-third.webp" alt="doctor">
          </div>
          <div class="specialist">
            <p class="number-specialists">20+</p>
            <p class="name-specialists">Specialists</p>
          </div>
        </div>
      </aside>
    </div>
    <figure class="clock-image">
      <img class="border-medium clock-wrap" src="/src/assets/images/header-clock.webp" alt="clock">
      <figcaption class="content-clock">Schedule your Vaccination</figcaption>
    </figure>
    <form class="address-header" action="javascript:void(0)">
      <div class="image-address-header">
        <div class="wrap-address-header-text">
          <figure class="address-image">
            <img class="border-medium wrap-image-header" src="/src/assets/images/header-location.webp" alt="location">
          </figure>
          <div class="content-address-header">
            <p class="name-address">Location</p>
            <p>Ikeja Lagos, Nigeria</p>
          </div>
        </div>
        <div class="wrap-address-header-text">
          <figure class="address-image">
            <img class="border-medium wrap-image-header" src="/src/assets/images/header-date.webp" alt="date">
          </figure>
          <div class="content-address-header">
            <p class="name-address">Date</p>
            <p>29 February, 2022</p>
          </div>
        </div>
        <div class="wrap-address-header-text">
          <figure class="address-image">
            <img class="border-medium wrap-image-header" src="/src/assets/images/header-protect.webp" alt="prt">
          </figure>
          <div class="content-address-header">
            <p class="name-address">Vaccine Type</p>
            <p>Mordena</p>
          </div>
        </div>
        <div class="wrap-address-header-text">
          <button class="button button-second" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</header>
