<section class="information">
  <div class="wrap-information">
    <article class="information-heading">
      <h3 class="information-title">
        Why get vaccinated today?
      </h3>
      <p class="information-heading-text">
        Magna adipiscing at elit at ornare lectus
        nibh lorem.
        Ac, sed ac lorem pellentesque vestibulum
        risus matti.
        In molestie condimentum malesuada non.
      </p>
    </article>
    <div class="container-information">
      <div class="information-content">
        <div class="wrap-information-content  flex-column">
          <figure class="information-content-icon">
            <img src="/src/assets/images/information-protect-icon.webp" alt="icon-protect">
          </figure>
          <hgroup class="wrap-information-text-heading">
            <h3 class="information-content-title">
              Protects your immune </h3>
            <p class="information-content-title"> system against viruses
            </p>
          </hgroup>
          <div class="wrap-information-text-description">
            <p class="information-content-description">
              Velit ut consectetur mauris, orci amet,faucibus.
              Sit turpis fringilla ipsum pretium,
              dictum. Dolor eget vel nulla lorem ac.
            </p>
          </div>
          <div class="information-content-link">
            <a class="information-link" href="https://www.youtube.com/" aria-label="Go to the new website">Read More</a>
            <a href="https://vi.wikipedia.org/wiki/Linux"><img class="information-content-link-icon"
                src="/src/assets/images/information-icon-blue.webp" alt="icon-blue"></a>
          </div>
        </div>
      </div>
      <div class="wrap-information-icon">
        <div class="information-user  flex-column">
          <figure class="information-user-icon">
            <img src="/src/assets/images/information-user.webp" alt="icon-user">
            <figcaption class="information-text">Minimize the spread of the Virus</figcaption>
          </figure>
          <div class="information-content-link">
            <a class="information-link" href="https://zingmp3.vn/" aria-label="Go to the new website">Read More</a>
            <a href="https://cloudconvert.com/png-to-webp"><img class="information-content-link-icon"
                src="/src/assets/images/information-icon.webp" alt="icon"></a>
          </div>
        </div>
        <div class="information-ther  flex-column">
          <figure class="information-ther-icon">
            <img class="information-ther-icon-image" src="/src/assets/images/information-thermometer.webp"
              alt="icon-ther">
            <figcaption class="information-text">Protect yourself</figcaption>
          </figure>
          <div class="information-content-link">
            <a class="information-link" href="https://www.w3schools.com/" aria-label="Go to the new website">Read
              More</a>
            <a href="https://www.youtube.com/"><img class="information-content-link-icon"
                src="/src/assets/images/information-icon.webp" alt="icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
