<section class="symptoms wrap-symptoms">
  <article class="symptoms-content">
    <h4 class="symptoms-content-title">Covid-19 Prevention</h4>
    <div class="symptoms-content-body">
      <h3>COVID-19</h3>
      <h3 class="text-blue">Symptoms</h3>
    </div>
    <h4 class="symptoms-content-foot
">Adipiscing nec etiam tortor elit quisque.
      Arcu aliquet convallis aenean eu velit.
      Mi vestibulum, ullamcorper venenatis imperdiet
      augue arcu donec neque.</h4>
  </article>
  <div class="symptoms-description">
    <figure class="wrap-symptoms-humans-image"><img class="symptoms-humans-image"
        src="/src/assets/images/symptoms-person.webp" alt="st-img">
    </figure>
    <div class="wrap-symptoms-description  flex-column">
      <div class="symptoms-description-firt flex-space-between">
        <figure class="wrap-description-symptoms-element">
          <img class="symptoms-image-virus" src="/src/assets/images/coronavirus.webp" alt="virus">
          <figcaption class="symptoms-description-text">High Fever</figcaption>
        </figure>
        <figure class="wrap-description-symptoms-element">
          <img class="symptoms-image-virus" src="/src/assets/images/coronavirus.webp" alt="virus">
          <figcaption class="symptoms-description-text">Loss sense of taste</figcaption>
        </figure>
      </div>
      <div class="symptoms-description-second flex-space-between">
        <figure class="wrap-description-symptoms-element">
          <img class="symptoms-image-virus" src="/src/assets/images/coronavirus.webp" alt="virus">
          <figcaption class="symptoms-description-text">Dry Cough</figcaption>
        </figure>
        <figure class="wrap-description-symptoms-element">
          <img class="symptoms-image-virus" src="/src/assets/images/coronavirus.webp" alt="virus">
          <figcaption class="symptoms-description-text">Difficulty Breathing</figcaption>
        </figure>
      </div>
      <div class="symptoms-description-third flex-space-between">
        <figure class="wrap-description-symptoms-element">
          <img class="symptoms-image-virus" src="/src/assets/images/coronavirus.webp" alt="virus">
          <figcaption class="symptoms-description-text">Loss sense of smell</figcaption>
        </figure>
        <figure class="wrap-description-symptoms-element">
          <img class="symptoms-image-virus" src="/src/assets/images/coronavirus.webp" alt="virus">
          <figcaption class="symptoms-description-text">Sore Throat</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
