<section class="verify wrap-verify">
  <h2 class="verify-heading">
    Get your vaccine registration today
  </h2>
  <div class="wrap-verify-content">
    <div class="verify-content-heading">
      <img class="verify-image-bg" src="/src/assets/images/verify-image-bg.webp" alt="verify-img">
      <div class="wrap-verify-content-heading flex-space-between">
        <h2 class="verify-title">COVID-19 Vaccine</h2>
        <button class="button button-four" type="submit">Verify Status</button>
      </div>
    </div>
    <form class="wrap-verify-content-description" action="javascript:void(0)">
      <div class="verify-content-description  flex-column">
        <h3>
          Patient’s Full Name
        </h3>
        <input class="input input-second" type="text" placeholder="Full name">
        <h3>
          Mobile Number
        </h3>
        <p class="verify-text-description">
          Notifications for appointment and reminders will be sent to this
          provided number
        </p>
        <div class="wrap-verify-input-button  flex-column">
          <div class="verify-input-phone flex-space-between">
            <span class="verify-image-flag">
              <img src="/src/assets/images/verify-icon-flag.webp" alt="flag">
            </span>
            <input class="input-third" type="text" placeholder="Phone number">
          </div>
          <button class="button button-five" type="submit">Verify</button>
        </div>
      </div>
      <button class="button button-six" type="submit">Submit</button>
      <div class="text-foot-verify">
        <a class="text-foot-verify-firt">Already registered ?</a>
        <a class="text-foot-verify-second" href="https://www.youtube.com/">Check your status</a>
      </div>
    </form>
  </div>
</section>
